.top_nav ul li.secondary + li.secondary > a > i:before,
.wsmenu > .wsmenu-list li.secondary + li.secondary > a > i:before {
  content: '\f0b1'
}

.wsmenu > .wsmenu-list li.secondary > a > i {
  color: #fff
}

.top_nav {
  color: #fff;

  .topnavlinks {
    padding: 20px 0 10px;
  }

  .SiteLogo {

    img {
      margin: 10px 0;
      max-width: 200px;
      @media (max-width: @screen-xs-max) {
        max-width: 160px;
      }
    }

    @media (max-width: @screen-sm-max) {
      margin: 0;
      text-align: center; img {
      margin: 0 0 15px;
    }
    }
  }

  .cartmobile {
    .nav-cart {
      float: right;
      margin-top: 5px;
    }

    .mini-cart-icon {
      font-size: 20px;
    }

    .mini-cart-icon span.namecart {
      display: none;
    }

    .mini-cart-count {
      display: inline;
    }

    a {
      color: #fff;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      list-style: none;
      position: relative;
      padding: 10px 15px;
      @media (min-width: @screen-md-min) {
        padding: 10px 5px;
        font-size: 13px;
      }
      @media (min-width: @screen-lg-min) {
        padding: 10px 15px;
        font-size: 14px;
      }

      a {
        color: #fff;
      }

      ul {
        display: none;
        position: absolute;
        width: 280px;
        background: #fff;
        padding: 10px;
        z-index: 1000;
        box-shadow: 0px 1px 3px 0px #808080;
        left: 0px;
        border-radius: 15px;

        li {
          display: block;
          padding: 10px;

          a {
            color: #333;
          }
        }
      }
    }

    li:hover ul {
      display: inline;
    }

    .link_ar, .link_en {
      img {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 2px;
      }
    }
  }

  .nav-cart div {
    display: inline;
  }

  .wsshopwp {
    height: auto !important;
  }
}

.cat_icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 5px;
}

.js-register-navigation-item {
  display: none !important;
}

.ui-front {
  position: relative;

  .ui-widget.ui-widget-content {
    width: 100% !important;
    left: 0 !important;
    right: 0 !important;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;

    a.ui-state-active, a:hover {
      background: #f2f2f2 !important;
      color: #000 !important;
      border-color: #fff !important;
    }

    .ui-menu-item-wrapper {
      position: relative;
      padding: 10px 5px !important;
      display: block;
    }
  }

  .input-group {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;

    .js-site-search-input {
      border: none;
      outline: none;
      background: none;
    }

    .js_search_button {
      padding: 4px 10px;
    }

  }
}

.paddfull {
  padding: 40px 30px;
  @media (max-width: @screen-sm-max) {
    padding: 20px 10px;
  }
}

.grayback {
  background-color: #f3f3f3;
}

.lightback {
  background-color: #ffffff;
  color: #000;
  padding: 20px 10px;
}

.blueback {
  background-color: @brand-primary;

  .box {
    margin: 0px 10% 50px;
    width: 80%;
    display: block;
    float: left;
  }

  h1 {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin: 40px 0;
    padding: 0;
    display: block;
  }
}

.witharrow {
  text-align: center;
  padding: 0 40px;
  @media (max-width: @screen-sm-max) {
    padding: 0 20px;
  }
  @media (max-width: @screen-xs-max) {
    padding: 0 10px;
  }

  img {
    max-height: 120px;
    margin-bottom: 15px;
    @media (max-width: @screen-sm-max) {
      max-height: 50px;
      margin-bottom: 10px;
    }
    @media (max-width: @screen-xs-max) {
      max-height: 30px;
      margin-bottom: 5px;
    }
  }

  h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    @media (max-width: @screen-sm-max) {
      font-size: 14px;
      font-weight: 600;
      margin: 0;
    }
    @media (max-width: @screen-xs-max) {
      font-size: 12px;
      font-weight: 400;
      margin: 0;
    }
  }
}

.witharrow:before {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 600;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  content: "\f061";
  color: #e7a630;
  font-size: 30px;
  position: absolute;
  right: -10px;
  top: 50%;
  @media (max-width: @screen-xs-max) {
    top: 35%;
    font-size: 25px;
    right: -5px;
  }
  @media (max-width: @screen-xs-max) {
    top: 30%;
    font-size: 20px;
    right: -5px;
  }
}

.witharrow + .witharrow + .witharrow:before {
  display: none;
}

.box {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #e4e4e4;
  border-radius: 15px;
  box-shadow: 0px 0px 7px -4px #06060673;

  .box_img img {
    height: 200px;
  }

  .box_links {
    h6 {
      font-weight: 600;
      font-size: 16px;
      text-transform: uppercase;
    }

    ul {
      padding-left: 10px;
    }

    a {
      color: @text-color;
      padding-bottom: 0;
      padding-left: 10px;
    }

    li {
      list-style: none;

      a {
        display: block;
        color: @brand-secondary;
        padding-bottom: 5px;
        padding-left: 0;
        text-transform: uppercase;
        font-weight: 500;
      }
    }

  }
}

.header_style {
  padding-bottom: 0 !important;
  position: relative;

  .content {
    font-weight: 600;
    font-size: 20px;
  }

  .content::after {
    content: '';
    width: 100px;
    height: 2px;
    background: #c04c42;
    display: block;
    margin: 8px auto -10px;
  }
}

.carousel__component--headline {
  font-weight: 600;
  padding-bottom: 40px !important;
  position: relative;
  font-size: 20px;

  &::after {
    content: '';
    width: 100px;
    height: 2px;
    background: #c04c42;
    display: block;
    margin: 8px auto -10px;
  }
}

a, a:hover, a:focus {
  outline: none !important;
}

.js-owl-theme2 {
  margin: 10px 0 40px;
}

.btn a {
  color: #fff;
  min-width: 200px;
  display: block;
  @media (max-width: @screen-xs-max) {
    min-width: 150px;
  }
}

.btn a:hover, .btn:hover a {
  color: @brand-secondary;
}

.btn.btn-default a {
  color: @brand-secondary;
}

.btn.btn-default a:hover, .btn.btn-default:hover a {
  color: #fff;
}


.bluebox {
  background: #00457c9e;
  color: #fff;
  margin: 30px auto;
  padding: 20px;
  border-radius: 15px;

  h1 {
    font-weight: 600;
    padding-bottom: 40px !important;
    position: relative;
    text-align: center;
    font-size: 20px;

    &::after {
      content: '';
      width: 100px;
      height: 2px;
      background: #c04c42;
      display: block;
      margin: 8px auto -10px;
    }
  }

  h6 {
    font-size: 15px;
    color: #9fbbd1;
    margin: 10px 0 20px;
  }

  .form-group {
    margin-bottom: 20px;

    .form-control {
      background: @brand-primary;
      color: #fff;
      border: solid 1px #2269a1;
    }

    label {
      color: #bcd7ea;
      font-size: 15px;
      font-weight: 600;
    }
  }

  .btn {
    margin-bottom: 20px;
  }

  #errorcode {
    display: none;
    color: #de766d;
    font-weight: 600;
    text-shadow: 0 0 5px #1f1f1f;

    i {
      margin-right: 5px;
    }
  }
}

.sticky-wrapper.is-sticky .js-mainHeader {
  width: 100% !important;
  z-index: 9990 !important;
  box-shadow: 0px 1px 12px 1px #06060673;
}

.carousel__item--name {
  text-align: center;
  color: #000;
}

.carousel__item--price {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  color: #000;
}

.footerlogo {
  img {
    max-width: 200px;
  }

  @media (max-width: @screen-sm-max) {
    margin: 20px 0;
  }
}

footer {
  .title, .content p {
    font-weight: 600;
    margin-bottom: 10px;
  }

  ul {
    margin: 0;
    padding: 0;
    @media (max-width: @screen-sm-max) {
      margin: 0px 0 20px;
    }

    li {
      list-style: none;
      margin-top: 5px;
    }
  }

  .title, .content p {
    @media (max-width: @screen-xs-max) {
      cursor: pointer;
      &::after {
        content: "\f067";
        font-family: 'Font Awesome 5 Pro';
        font-weight: 400;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;

        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        float: right;
        line-height: 1;
      }
    }
  }

  ul {
    @media (max-width: @screen-xs-max) {
      display: none;
    }
  }

  .content {
    @media (max-width: @screen-xs-max) {
      padding: 0 20px;
      margin-top: -10px;
    }
  }


  .title, .content p {
    &.activemenu {
      @media (max-width: @screen-xs-max) {
        &::after {
          content: "\f068";
        }

        & + ul {
          display: block;
        }
      }
    }
  }
}

.textsection {
  .col-md-6 {
    padding: 30px;
    @media (max-width: @screen-sm-max) {
      padding: 10px 5px;
    }

    p {
      font-size: 16px;
      text-transform: capitalize;
      font-weight: 600;
      color: #000;
      margin-bottom: 25px;
      @media (max-width: @screen-sm-max) {
        font-size: 14px;
      }
    }

    ul {
      margin: 0;
      padding-left: 15px;

      li {
        margin-bottom: 20px;
        font-size: 15px;
        @media (max-width: @screen-sm-max) {
          font-size: 13px;
        }
        list-style: none;

        &:before {
          font-family: 'Font Awesome 5 Pro';
          font-weight: 400;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          line-height: 1;
          margin-left: -15px;
          margin-right: 10px;
          color: #399fc5;
          content: '\f00c';
        }
      }
    }
  }

}

.textsection2 {
  padding: 0px 30px 30px;
  border: 1px solid #dedede;
  border-radius: 15px;
  @media (max-width: @screen-sm-max) {
    padding: 10px 0px;
    border: none;
  }

  p {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    color: #000;
    margin-bottom: 25px;
    @media (max-width: @screen-sm-max) {
      font-size: 14px;
    }
  }

  .user-register__headline {
    margin-bottom: 20px;
  }

  ul {
    margin: 0;
    padding-left: 15px;

    li {
      margin-bottom: 25px;
      font-size: 15px;
      @media (max-width: @screen-sm-max) {
        font-size: 13px;
      }
      list-style: none;

      &:before {
        font-family: 'Font Awesome 5 Pro';
        font-weight: 400;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        margin-left: -15px;
        margin-right: 10px;
        color: #399fc5;
        content: '\f00c';
      }
    }
  }


}

.js-owl-rotating-image.owl-theme .owl-nav.disabled + .owl-dots {
  z-index: 10;
  margin-top: 10px;
  height: 0;
  margin-top: -40px;
  position: relative;
  margin-bottom: 50px;
}

@media (max-width: @screen-sm-max) {
  .sticky-wrapper {
    height: auto !important;

    .js-mainHeader {
      width: 100% !important;
    }
  }
}

.btn-200 {
  min-width: 200px;
  @media (max-width: @screen-sm-max) {
    min-width: 150px;
  }
}

.form-control {
  background-color: #f3f3f3;
}

.rowul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-20 {
  margin-top: 30px;
}

.line {
  position: relative;

  &:after {
    content: '';
    width: 1px;
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 0px;
    background: #dedede;
    display: block;
    @media (max-width: @screen-sm-max) {
      display: none;
    }
  }
}

.bootstrap-select {
  .btn.dropdown-toggle {
    background-color: #f3f3f3;
    font-weight: 400;
    border: 1px solid #ccc;
    text-transform: capitalize;
    line-height: 23px;
    color: #3c3c3c;
  }

  .dropdown-menu {
    border-radius: 15px !important;
  }
}

.bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
  border-color: #00457c;
  box-shadow: none;
  background: #f3f3f3;
}

.volPrice {
  margin: 20px 0 0 0;
  padding: 0;

  li {
    list-style: none;
    color: @brand-secondary;
    padding-right: 15px;
    display: inline-block;

    i {
      display: block;
      font-size: 13px;
    }

    span {
      display: block
    }

    font-size: 15px;
    font-weight: 600;
  }
}

.relativepos {
  position: relative;
}

span.productlabel {
  background: #24C5EE;
  color: #fff;
  z-index: 100;
  position: absolute;
  left: 10px;
  right: auto;
  display: inline;
  padding: 3px 5px;
  font-size: 13px;
  font-weight: 600;
  top: 10px;
}

.price {
  color: #484848;
}

.priceDefaultColor {
  font-size: 12px !important;

}

.price {
  .oldprice {
    color: #afafaf;
    text-decoration: line-through;
    font-size: 14px;
  }

  .newprice {
    color: #e83727;
  }

  .perprice {
    display: table;
    background-color: #e83727;
    color: #fff;
    width: auto;
    padding: 5px;
    font-size: 14px;
  }

  .saveprice {
    display: block;
    color: #333;
    font-size: 14px;
  }
}

.btn-150-block {
  min-width: 150px;
}

button.btn.btn-default-2 {
  background: none !important;
  border: none !important;

  span {
    color: #676767;
  }
}

.addtocart-component .qty-selector .form-control {
  height: 34px;
  background: none !important;
  border: none !important;
  outline: none !important;
}

.qty-selector.input-group.js-qty-selector {
  border-radius: 15px;
  border: 2px solid #dcdcdc;
  margin-right: 10px;
}

.account-section .account-section-content .account-section-header, .back-link.border,
.account-section .account-section-header, .back-link {
  background: #fff;
  border: none;
  margin: 0 -30px;

  @media (max-width: @screen-sm-max) {
    margin: 0 -20px;
  }
  @media (max-width: @screen-xs-max) {
    margin: 0 -10px;
  }
}

.cart-header.border {
  background: #fff;
  border: none;
  margin: 0 -30px;
  padding: 0 10px;
  @media (max-width: @screen-sm-max) {
    margin: 0 -20px;
  }
  @media (max-width: @screen-xs-max) {
    margin: 0 -10px;
  }

  .alert {
    margin-bottom: 0;
    margin-top: 10px;
  }
}

.account-section .container-lg .account-section-content,
.well.well-tertiary {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #e4e4e4;
  border-radius: 15px;
  box-shadow: 0px 0px 7px -4px #06060673;
  margin-top: 20px;
}

#displaymode .pagination-bar {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #e4e4e4;
  border-radius: 15px;
  box-shadow: 0px 0px 7px -4px #06060673;
  margin-top: 30px;
}

.well.well-tertiary .item-value a {
  color: #00457c;
  text-decoration: underline;
}

.account-section-content .account-list {
  .account-list-header {
    border-top: 0px solid #cccccc;
    border-bottom: 0px solid #cccccc;
    padding: 5px 0px 10px;
    background-color: #ffffff;
  }
}

.account-section .account-list .account-cards {
  border: none;
}

.account-section .pagination-bar .pagination-toolbar .sort-refine-bar {
  padding: 0 !important;
}

.account-section .account-list .account-cards .card {
  padding: 20px;
  border-radius: 0px;
  background: #f3f3f3;
  border: 1px solid #e4e4e4 !important;
}

.account-section .account-list .remove-item, .account-section .account-list .edit-item {
  color: #949494;
}

.account-section .account-list .account-cards .search-empty {
  width: 100%;
  border: none !important;
}

.account-section .account-section-content .accountActions-link {
  padding-left: 0px;
  padding-right: 0px;
}

.disable-link a {
  text-transform: uppercase;
  font-weight: 600;
  padding: 6px 15px;
  font-size: 15px;
  line-height: 1.375;
  border: 2px solid #ED1C24;
  color: #ED1C24;
  border-radius: 15px;
}

.account-section .account-list .account-cards.card-select {
  border: none;
}

.back-link {
  .back-link {
    margin: 0 !important;
    padding: 0 !important;
  }

  .account-header-done-btn {
    margin: 0;
    padding: 0;
  }
}

.account-section .pagination-bar .pagination-toolbar {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 0;
  border: 1px solid #e4e4e4;
  border-radius: 15px;
  box-shadow: 0px 0px 7px -4px #06060673;
}

.account-section .pagination-bar .pagination-bar-results {
  display: none;
}

.account-section .account-section-content .account-orderhistory-pagination .pagination-bar .sort-refine-bar {
  padding: 0;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: none;
}

.responsive-table-item a.responsive-table-link {
  color: #e42525;
  text-decoration: underline;
}

.pagination-wrap {
  float: right;
  text-align: right;
  margin-top: 20px;
}

.pagination-bar .pagination, .pagination-bar button {
  overflow: hidden;
}

.accordion .panel .panel-collapse .panel-heading {
  background-color: #cee1ec;
  border-radius: 0;
}

.accordion .panel .panel-heading {
  border-radius: 0;
}

.main__inner-wrapper {
  min-height: 300px;
}

.content-empty.box:before {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  content: "\f071";
  font-size: 40px;
  display: block;
  margin: 20px 0;
  color: #ffadad;
}

.showinplp {
  display: none;
}

#displaymode .pagination-bar {
  padding: 10px;

  .showinplp {
    display: inline-block;
  }

  .pagination-wrap {
    margin: 0 5px 0;

    ul {
      margin-top: 0;
    }
  }

  &.top {
    .pagination-wrap {
      display: none;
    }
  }

  &.bottom {
    .pagination-topin {
      display: none;
    }
  }

  .pagination-toolbar {
    padding: 0;
    border: none;
  }

  .btn-icon-list {
    padding: 10px 10px;
    position: relative;
    font-size: 14px;

    &::after {
      content: '';
      display: inline-block;
      width: 1px;
      height: 20px;
      background: #b6bdc3;
      position: absolute;
      right: -3px;
      top: 9px;
    }

    @media (max-width: @screen-xs-max) {
      padding: 10px 3px;
      width: 28px;
    }
  }


}

#displaymode .pagination-bar .btn-icon-list:last-child::after {
  display: none;
}

.pagination-bar .sort-refine-bar {
  label {
    float: left;
    padding-right: 5px;
    line-height: 34px;
  }

  form {
    float: left;
    min-width: 54%;
  }
}

.listcontent {
  display: none;
}

#displaymode.list_view .product-item {
  width: 100% !important;
  padding: 0 !important;

  .boxin {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 0;
    border: 1px solid #e4e4e4;
    border-radius: 15px;
    box-shadow: 0px 0px 7px -4px #06060673;

    .listcontent {
      display: inline-block;
    }

    .thumb {
      float: left;
      width: 20%;
      @media (max-width: @screen-xs-max) {
        width: 50%;
        margin: 0 25% 10px;
      }
    }

    .details {
      width: 80%;
      float: left;
      text-align: left;
      @media (max-width: @screen-xs-max) {
        width: 100%;
      }

      .name {
        height: auto;
      }
    }

    .thumb {
      padding: 0 10px 0 0;

      img {
        max-width: 100%;
      }
    }

    .addtocartbox {
      float: right;
      clear: none;
      width: 270px;
    }

    .pull-left-details {
      float: left;
    }

    .js-qty-selector-input {
      border: none;
      outline: none !important;
      text-align: center;
      width: 70px;
    }

    .qty-selector.input-group.js-qty-selector {
      display: inline-block;
      width: 160px;
      margin-bottom: 10px;
      margin-right: 0;
    }

    .addtocart-component .actions .btn.btn-primary {
      min-width: 160px;
    }

    .addtocart-component .actions .btn {
      margin-bottom: 0px;
    }

    .price {
      .perprice, .saveprice {
        display: none;
      }
    }

    .addtocart-component .qty-selector .input-group-btn, .addtocart-component .qty-selector .btn, .addtocart-component .qty-selector .form-control {
      width: 36px;
    }

  }
}

#displaymode.grid_view .product__listing.product__grid {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 0;
  border: 1px solid #e4e4e4;
  border-radius: 15px;
  box-shadow: 0px 0px 7px -4px #06060673;
  @media (max-width: @screen-xs-max) {
    padding: 10px;
  }

  .boxin {
    width: 100%;
    border: 1px solid #EBE4E4;
    padding: 0px 5px 10px;
    border-radius: 10px;
  }

  .addtocartbox, .volPrice {
    display: none;
  }

  .pull-left-details {
    width: 100%;
  }

  .price {
    .perprice, .saveprice {
      display: none;
    }
  }

}

@media (max-width: @screen-xs-max) {

  .pagination-bar .sort-refine-bar {
    label {
      font-size: 11px;
    }

    .btn {
      padding: 4px 22px 4px 5px;
      font-size: 12px;
    }
  }
}

@media (max-width: @screen-sm-max) {
  div#product-facet {
    position: fixed;
    top: 0;
    -webkit-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    left: -380px;
    display: initial !important;
  }

  div#product-facet.show-facet {

    position: fixed;
    top: 0;
    display: block !important;
    z-index: 20000;
    background: #fff;
    bottom: 0;
    padding: 10px;
    box-shadow: 0px 0px 4px #2f2f2f;
    width: 100%;
    max-width: 380px;
    overflow-y: auto;
    -webkit-transform: translate(380px, 0);
    -ms-transform: translate(380px, 0);
    -o-transform: translate(380px, 0);
    transform: translate(380px, 0);
    -webkit-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    border-radius: 0;
    margin: 0;
  }

  a.hide-facets.pull-right {
    font-size: 23px;
    padding: 0px 6px;
  }

  .top-mobile-facets {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 10px;
  }
}

#displaymode .pagination-bar.bottom {
  display: none;
}

.item__list__cart li:last-child li {
  border: none;
}


.addproductdiv {
  position: fixed;
  display: none;
  right: 10px;
  width: 280px;
  padding: 15px;
  border: 1px solid #e4e4e4;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 0px 7px -4px #06060673;
  top: 30%;
  z-index: 100;
  max-height: 69%;
  overflow-y: auto;

  .closedivproduct {
    float: right;
    font-size: 15px;
    padding: 2px 5px;
  }

  #loadcontenthead {
    display: block;
    font-size: 13px;
    font-weight: 600;
    border-bottom: 1px solid #d4d4d4;
    color: #000;
    line-height: 2em;

    .headline {
      font-size: 13px;
      margin-bottom: 0px;
    }
  }

  #loadcontent {
    display: block;
    margin-top: 10px;

    .cart_popup_error_msg {
      color: #c04c42;
    }

    .btn {
      display: none;
    }

    .add-to-cart .add-to-cart-item {
      margin-bottom: 5px;

      .thumb img {
        max-width: 55px;
      }

      .details {
        font-size: 13px;
        margin-left: 65px;

        .name {
          font-weight: 600;
          color: inherit;
        }
      }

      .price {
        font-size: 15px;
        text-align: left;
        font-weight: 600;
      }
    }
  }
}

.content-empty ul li {
  list-style: none;
}

@media (max-width: @screen-sm-max) {
  #product-facet {
    -webkit-transform: translate(-380px, 0);
    -ms-transform: translate(-380px, 0);
    -o-transform: translate(-380px, 0);
    transform: translate(-380px, 0);
    -webkit-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
  }

  .facetheader {
    border-bottom: 1px solid #d4d4d4;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 2em;
    margin: 0 -10px;
    padding: 10px;

    a {
      float: right;
    }
  }
}

.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
  color: #ffffff;
  background-color: #435866;
  border-color: #435866;
}

.checkout-success__body__headline {
  font-size: 22px;
  font-weight: 600;
  padding-top: 20px;
  color: #F44336;
  @media (max-width: @screen-sm-max) {
    font-size: 18px;
  }
}

.placepicker-map {
  width: 100%;
  height: 250px;
}

.another-map-class {
  width: 100%;
  height: 250px;
}

.pac-container {
  border-radius: 5px;
}

a.selectorlocation.btn {
  position: absolute;
  top: 28px;
  padding: 4px 15px;
  background: #00457c;
  right: 14px;
  color: #fff;
}

.pull-right.m-b-10 {
  margin-bottom: 10px;
  margin-top: -10px;
}

.global-alerts {
  position: fixed;
  top: 10px;
  right: 10px;
  max-width: 300px;
  background: none;
  z-index: 33000;
  @media (max-width: @screen-sm-max) {
    font-size: 18px;
  }

  .alert {
    opacity: 1;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 25px 10px 10px;
    position: relative;
    border-radius: 10px;

    .close {
      right: -10px;
    }
  }

  .alert.alert-danger {
    color: #822020;
  }
}

@media (min-width: @screen-md-min) {
  .item__list .item__image {
    width: 90px;

    img {
      width: 70px;
    }
  }

  .item__list__cart .item__quantity {
    text-align: left;
    width: 167px;
  }

  .item__quantity .cart-js-qty {
    margin-right: 0;
  }
}


@media (max-width: @screen-sm-max) {
  .wsmenu .secondarycolor a {
    background: #7e99aa !important;
    color: #fff !important;

    i {
      color: #fff !important;
    }
  }

  .back-link .account-header-done-btn {
    margin-top: 10px;

  }

  .item__list .item__image {
    width: 90px;

    img {
      width: 70px;
    }
  }

  .item__list--item > div {
    margin-left: 93px;
    padding: 0 30px 0 0;
  }

  .item__list .item__menu .btn {
    width: 30px;
  }
}

.addproductdiv #loadcontent .add-to-cart .add-to-cart-item + .add-to-cart-item {
  margin-bottom: 5px;
  border-bottom: 1px solid #e6e6e6;
}

.addproductdiv #loadcontent .add-to-cart .add-to-cart-item:last-child {
  border: none !important;
}


.btn-small {
  padding: 8px 15px;
}

ul.yCmsContentSlot.topsection {
  margin: 0;
  padding: 0;
  background: #7e99aa;
  color: #fff;

  li {
    list-style: none;
    padding: 0px 0px 0px 0px;
    margin: 0 0px;
    display: inline;

    a {
      color: #fff;
      padding: 10px 0px 10px 15px;
      margin: 0 10px;
      display: inline-block;

      i {
        margin-right: 5px;
      }
    }

    a:hover {
      color: #e4eff7;
    }
  }
}

@media (max-width: @screen-xs-max) {
  .account-section .account-section-content .item__list--item .item__total {
    padding-right: 0;
  }

  .responsive-table-item td.reorderdiv {
    width: 100%;
  }
}

#storeFinder .box {
  overflow: hidden;
}


.page-homepage .main__inner-wrapper .forgotten-password.box {
  margin: 0 20px;
  max-width: 350px;
}


#cboxLoadedContent .forgotten-password.box {
  margin: -15px 0 0 0;
  border: none;
  padding: 0;
}

.account-section .item-wrapper .framed .item-label {
  color: #000000 !important;
}

.logosize {
  height: 60px;
}

.page-homepage2 {
  .border-bottom-xs {
    min-height: 100px;
    @media (max-width: @screen-sm-max) {
      border-bottom: 1px solid #d4d4d4;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
  }

  .no-border {
    border: none;
    @media (max-width: @screen-sm-max) {
      margin-bottom: 0;
      padding-bottom: 10px;
    }
  }

  .thumb_style {

    .banner__component.simple-banner {
      position: absolute;
      margin-right: 0px;
      max-width: 70px;
      top: 0px;
      left: 10px;
      border-radius: 50%;
      overflow: hidden;
      height: 70px;
      border: 2px solid #00457c;

      img {
        max-width: 100%;
        width: 100%;
        height: 100%;
      }
    }

    .banner__component2 {
      float: left;
      width: 100%;
      padding-left: 80px;
      padding-top: 10px;

      h2 {
        margin: 0 0 10px 0;
        padding: 0;
        font-size: 18px;
        color: #555;
        font-weight: 600;
        @media (max-width: @screen-sm-max) {
          font-size: 16px;
        }
      }

      h3 {
        font-size: 15px;
        margin: 0 0 10px 0;
        padding: 0;
        color: #777;
        @media (max-width: @screen-sm-max) {
          font-size: 13px;
        }
      }
    }
  }

  .logosize {
    height: auto;
  }

  .main__inner-wrapper {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  /* Circle */

  .hover_style .carousel__item a {
    position: relative;
    overflow: hidden;
    display: block;
  }

  .hover_style .carousel__item a::after {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, .2);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  .hover_style .carousel__item a:hover::after {
    -webkit-animation: circle .75s;
    animation: circle .75s;
  }

  @-webkit-keyframes circle {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    100% {
      width: 200%;
      height: 200%;
      opacity: 0;
    }
  }
  @keyframes circle {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    100% {
      width: 200%;
      height: 200%;
      opacity: 0;
    }
  }


}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-20 {
  margin-bottom: 20px;
}

.padd-20-30 {
  padding: 30px 20px;
}

.no-padding {
  padding: 0 !important;
}

.no-header {
  .js-owl-theme2 {
    margin: 0px 0 10px;
  }

  .carousel__component--headline, .btn.btn-primary {
    display: none;
  }

}

.inverce_margin {
  @media (min-width: @screen-md-min) {
    margin-left: -30px;
    margin-right: -30px;
  }
  @media (max-width: @screen-sm-max) {

    margin-left: -20px;
    margin-right: -20px;
  }
}

.imagestyle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
}

.contentstyle {
  position: relative;
  z-index: 10;
  text-align: center;
  padding: 50px;
  color: #fff;
  @media (max-width: @screen-sm-max) {
    padding: 40px 20px;
  }

  h1 {
    font-weight: 800;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px #000;
    @media (max-width: @screen-sm-max) {
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 1px;
    }
  }

  p {
    font-size: 18px;
    font-weight: 600;
    text-shadow: 1px 1px #000;
    @media (max-width: @screen-sm-max) {
      font-weight: 400;
      font-size: 15px;
    }
  }

  a.btn.btn-action {
    display: inline-block;
    background: #000000;
    border: 2px solid #fff;
    padding: 10px 20px;
    margin: 5px;
    color: #fff;
    @media (max-width: @screen-sm-max) {
      padding: 8px 10px;
    }

    &:hover {
      background: #fff;
      color: #000000;
    }
  }

  a.btn.btn-action + a.btn.btn-action {
    background: #b20000;
    border: 2px solid #b20000;

    &:hover {
      background: #fff;
      color: #b20000;
    }
  }

}

.withouttext {

  .banner__component2 {
    display: none !important;
  }
}

ul.smartEditComponent + #sticky-wrapper {
  height: auto !important;
}

ul.smartEditComponent + #sticky-wrapper .js-mainHeader {
  position: static !important;
}

ul.smartEditComponent + #sticky-wrapper .topnavlinks > div {
  display: inline-block;
}


.box {
  .titleBox {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #5e5e5e;


  }

  .titleLine {
    border-bottom: 1px solid #afafaf;
    margin: 10px 0 10px 0;
  }


  .titleColCR {
    color: #5e5e5e;
    font-weight: bold;
    text-align: center;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    @media (max-width: @screen-xs-max) {
      display: inline-block;
      text-align: left;

    }
  }

  .valueColCR {
    color: #7e99aa;
    font-weight: 400;

    text-align: center;
    display: block;
    font-size: 16px;
    @media (max-width: @screen-xs-max) {
      display: inline-block;
      text-align: left;

    }
  }

}

.pageLabel-cr-info {
  .account-section-content {
    background: #f3f2f3 !important;
    padding: 0px !important;
    border: none !important;
    box-shadow: none !important;

  }

}

.desValue, .desTitle {
  text-align: left !important;
  padding-left: 15px;
  display: block !important;

}


.headerCR {
  margin-left: 6px;

}


.crTable {
  @media (min-width: @screen-sm-min) {
    margin: 0 15px

  }

  .responsive-table-head {
    background-color: #ececec;
  }

  .responsive-table-item {
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
  }


  .mobileTitleth {
    font-weight: 500;
    font-size: 14px;

  }

  th {
    font-weight: 700;
    font-size: 14px;

  }


}

.crTable th:first-child {
  padding-left: 30px;
  border: 1px solid transparent;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.crTable th:last-child {
  text-align: center !important;
  border: 1px solid transparent;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}


.d-flex {
  display: flex;
  align-items: center;

}

.companyCr {
  .virifyBtn {
    margin-top: 6px;
  }

  .form-group.has-error {
    margin-bottom: -15px;
  }

}


.companyCrpopup {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.5);

  .popupBoxcompanyCr {

    box-sizing: border-box;
    min-width: 0px;

    width: 100%;
    z-index: 999999;
    position: fixed;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;

    height: 100%;
    width: 90%;

    max-width: 100%;
    max-height: 100%;


    .companyCrContent {
      background-color: rgb(255, 255, 255);
      box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;

      margin: 0px;
      transform: translate3d(0px, 0px, 0px);
      opacity: 1;
      zoom: .8;

      .bodycompanyCrBox {
        height: 100vh;
        overflow: hidden;
        overflow-y: scroll;
        padding: 5px 10px;

        .box {
          background-color: #f3f2f3;
        }

        .crTable {
          margin: 0px !important;

          .responsive-table-item {
            background-color: #f3f2f3;
          }

        }
      }


      .headercompanyCrBox {
        padding: 10px;

        .titleheaderdelivery {
          font-size: 16px;
        }

        .closepopupcompanyCr {
          float: right;
          font-size: 22px;
          cursor: pointer;

          i {
            font-weight: 600
          }
        }
      }


    }

  }
}

.closepopupcompanyCr.btn-primary {
  max-width: 300px;
  margin: 0 auto;
  /* min-height: 44px; */
  font-size: 18px;
  font-weight: 700;
}


.closepopupcompanyCrError.btn-primary {
  max-width: 300px;
  max-width: 145px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 700;
  float: none !important;
}


.companyCrpopupError {

  .contentText {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
  }

  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.5);

  .popupBoxcompanyCrError {
    box-sizing: border-box;
    min-width: 0px;
    width: 100%;
    z-index: 999999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    width: 90%;
    height: 100%;
    max-height: 100%;
    max-width: 390px;
    max-height: 170px;

    .companyCrpopupErrorInner {
      background-color: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
      margin: 0px;
      transform: translate3d(0px, 0px, 0px);
      opacity: 1;
      zoom: .8;

      .closepopupcompanyCrError {
        float: right;
        font-size: 22px;
        cursor: pointer;

        i {
          font-weight: 600;
        }
      }

    }


  }

}

.orangeback {
  span {
    text-transform: uppercase;
  }

  i {
    margin-right: 5px;
  }

  background: #f79a2e;
  padding: 10px 20px;
  color: #fff;

  a {
    margin-left: 5px;
    float: right;
    color: #fff;
    text-decoration: underline;
  }
}


.page-quoteEditPage {


  .item__info {
    @media (min-width: @screen-md-min) {
      width: 20% !important;
    }
  }

  .item__list .item__total--column, .item__lowestprice, .item__lowestprice, .js-item-total, .item__quantity, .item__lowestprice, .item__sellingprice, .item__netprice {
    @media (min-width: @screen-md-min) {
      text-align: center !important;
    }

  }


  .item__list--item {

    .item__price, .lowestPrice, .item__price {
      @media (min-width: @screen-md-min) {
        text-align: center !important;
      }
    }
  }

}

.lowestPrice {
  @media (max-width: @screen-sm-max) {
    float: none !important;
    margin: 3px 0;
    display: block;
    text-align: left !important;
    .titelPrice {
      font-weight: 500;
      font-size: 13px;
      display: inline-block !important;

    }

  }

}

#crNumberForm {


  label {
    display: none;
  }


}


.page-cr-info-registration .crTable {
  margin: 0;
}


.alertpaymentType {
  font-weight: 600;
  color: #ed1c24;
  font-style: italic;
  display: block;
  margin-bottom: 5px;
}


.page-cr-info-registration {

  .account-section-content {
    background: #f3f3f3 !important;
    padding: 0 !important;
    margin-bottom: 20px !important;
    border: 1px solid #f3f3f3 !important;

    .box .col-xs-12 {
      margin-top: 15px;
    }
  }
}


.styleforms {

  .virifyBtn {

    margin: 0 15px;
    padding: 13px 44px;
  }

  @media (min-width: @screen-md-min) {
    display: flex;
    padding: 0 20px;
    align-items: center;
  }

  #registerConfirm {
    @media (min-width: @screen-md-min) {
      display: flex;
      align-items: center;
    }
    @media (max-width: @screen-sm-max) {
      margin-bottom: 15px;
      text-align: center;
    }
  }

  #crNumberForm {
    @media (min-width: @screen-md-min) {
      display: flex;
      align-items: center;
      width: 100%;
    }

    @media (max-width: @screen-sm-max) {
      margin-bottom: 15px;
      text-align: center;
    }

    .virifyBtn {
      @media (min-width: @screen-md-min) {
        margin: 0 15px;
        padding: 13px 44px;
      }

    }

    .form-group {

      width: 100%;
      margin: 0;
      @media (max-width: @screen-sm-max) {
        margin-bottom: 15px;
        text-align: center;
      }

      #crNumber {

        height: 50px;
        border-radius: 10px;
      }
    }
  }

}

.thankYouDiv {

  text-align: center;
  max-width: 500px;
  margin: 70px auto;

  .thankYouDivIcon {

    font-size: 70px;
    padding: 30px;
    border-radius: 50%;
    border: 3px #12457C solid;
    color: #12457C;
  }

  .headThanks {

    font-size: 32px;
    font-weight: 600;
  }

  .paragraphThanks {

    margin: 10px;
    display: inline-block;
    font-size: 16px;
    line-height: 29px;
  }
}

.redirectDiv {

  margin: 20px;
  text-transform: capitalize;
  padding: 15px;
}

.number-of-second-redirect {
  font-size: 24px;
}

.quotethankDiv {

  display: inline-block;
  margin-top: 20px;
  padding: 25px;
}

.exVat, .incVat {
  color: #7E99AA !important;
  font-size: 10px !important;
  font-weight: 500;
  margin-left: 4px;
  display: inline-block !important;
}


.topnavlinks, .wsmenu {
  .swithchTax {

    color: #fff;
    font-size: 12px;

    align-items: center;

    .labelVat {
      font-size: 14px;
      margin-right: 7px;
    }


    .switch {
      position: relative;
      display: inline-block;
      width: 47px;
      height: 23px;
      margin: 0 8px;


      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        -webkit-transition: .4s;
        transition: .4s;


      }

      .slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 6px;
        bottom: 2.5px;
        background-color: #1a457c;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked + .slider {
        background-color: #fff;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #fff;
      }

      input:checked + .slider:before {

        transform: translateX(19px);
      }

      /* Rounded sliders */

      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

    }
  }
}

@media (max-width: @screen-sm-max) {
  .swithchTax {
    padding: 10px 18px !important;
    color: #1a457c !important;
    text-align: left !important;


    .labelVat {
      font-size: 14px !important;
      margin-right: 7px !important;
    }

    .switch {
      .slider.round {
        border: 1px solid #1a457c !important;
      }
    }
  }
}

.wsmenu-list {

  .primary {
    .wsmenu-arrow::before {
      border-color: #fff !important;
    }
  }
}

.popuphome {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000052;
  z-index: 1000;
}
.popuphomebox {
  position: fixed;
  width: 40%;
  margin: 15% 30%;
  padding: 40px 20px;
  border: 1px solid #dfdfdf;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 2px 9px 1px #686868;    text-align: center;
  @media (max-width: 1000px) {width: 90%; margin: 15% 5%;}
  @media (max-width: @screen-xs-max) {
  
    .btn-primary{display: block;}
  }
}
a.hidepopuphome {
  position: absolute;
  right: 10px;
  background: #fff;
  top: 7px;
  font-size: 19px;
  color: #ff0a0a;
}
.popuphomebox p {
  font-size: 15px;
  text-align: center;
  color: #363535;
  line-height: 2em;
  font-weight: 600;
}
@media (max-width: 1024px) {
  #reviewcomment {
      height: 150px !important;
      min-height: 150px !important;
  }
    }

    .socialMediaContent{
      ul{display:block !important}
          li{ display:inline-block;   padding: 4px 6px;font-size: 20px;}
          a { display: inline-block;padding:2px;} 
        i { color: #fff;}
        }
      