.saudiday{
    .SiteLogo {
        a:after{content: ''; background: url('../images/Arabic.svg') no-repeat center center; background-size: contain;max-width: 240px; width: 100%; height: 80px;display:  inline-block;
            @media (max-width: @screen-sm-max) {
            height: 75px;
        }
        @media (max-width: @screen-xs-max) {
            height: 55px;
        }
        }
            a img{
                display: none;
             }
            }
    .med-section .swithchTax .switch .slider:before, .firstLevelMenu .swithchTax .switch .slider:before,.store__finder .store__finder--navigation-list .list__entry input:checked + label,
    .facet__value__count,header,.topnavlinks .swithchTax .switch .slider:before, .wsmenu .swithchTax .switch .slider:before,.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{background-color: #01876F;}
.blueback h1,.selectCityDiv .selectBox .titleCity,.selectCityDiv .selectBox .selectCity,.selectCityDiv .selectBox,.carousel__component--headline,.header-div-pickup,
.header-div-pickup,.carousel__component--headline,.carousel__component--headline, .item__list .item__remove .btn, .item__list .item__menu .btn,.btn-link,.product__facet .facet .facet__name{color:#01876F}
.blueback{background:#DBDBDB}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{color: #fff;}
.btn-primary{    border: 2px solid;
    color: #ffffff;
    background-color: #01876F;
    border-color: #01876F;}
    .facet__value__count{color: #fff;}
    .btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
        color: #01876F;
        background-color: #ffffff;
        border-color: #01876F;
    }
    .form-control:focus {
        border-color: #01876F;}
    .ui-front .input-group .js_search_button {
        background: none !important;
        color: #26876f !important;
    }
    .product__facet .facet .facet__list .facet__list__checkbox:checked + .facet__list__label .facet__list__mark {
        background:#01876F;
        border: 1px solid #01876F;}
    footer{background: #E3EFE5; color:#000000;
    a,.title,.footer__top .footer__nav--container .footer__nav--links a ,.socialMediaContent i{color: #000000;}
    }
    .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
        cursor: not-allowed;
        opacity: 0.65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #fff;
        background: #01876F;
    }
    .btn.btn-primary a {
        color: #fff;
        min-width: 200px;
        display: block;
    }
    .btn.btn-primary a:hover, .btn.btn-primary:hover a {
             color: inherit;
    }
    .orangeback {
        background: #f79a2e;
        color: #fff;
        a{color: #fff;}
    }
    .checkout-steps .step-head.active {
        background: #48519b;
        color: #ffffff;
        border-color: #48519b;
    }
    .content-empty.box:before{color: #e45447;}
    footer > .row.paddfull:first-child {border-top: 4px solid #01876F;}
    footer:before{content: ''; background: url('../images/Mask_footer.svg') #f3f3f3;
        display: block;
        width: 100%;
        height: 120px;
        background-size: contain;
        background-position: center bottom;
        background-repeat: no-repeat;
    }
    .lightback{background: #01876F; color: #fff; }
    .textsection .col-md-6 ul li:before{color: #005B15;}
    .grayback {
        background-color: #f3f3f3;
    }
    .grayback.inverce_margin {
        background-color: #DBDBDB;
    }
    .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
        border-color: #26876f;
    }
    .thumb_style .banner__component2 h2,.thumb_style .banner__component2 h3{color: #000000;}
    .thumb_style .banner__component.simple-banner{    border: 2px solid  #005B15;}


    //menu
    .firstLevelItem a{color:#808080}
    .levelTwoContainer li.ChildLevelTwo a { color: #8A8A8A;}
    .levelTwoContainer li.ChildLevelTwo a:hover{color: #005B15;}
    .selectCityDiv .selectBox{color: #01876F;
        border: 1px solid #ffffff;}
        .owl-carousel .owl-nav .owl-prev span, .owl-carousel .owl-nav .owl-next span{border-radius: 8px;}
        a, button {
            color: #01876F;
            text-decoration: none;
        }
        .login-social-text{color: #000000;}
        .itemListPlaces .itemCity{    border: 1px solid #707070; border-radius: 10px;}
        .itemListPlaces .itemCity:hover {
            background-color: #707070;

        }
        .or-style, label,.plpIcon-list .homeDe{color: #333;}
        .selectedCity {
            background-color: #01876F !important;
            border: 1px solid #01876F;
            color: #fff !important;
        }




        .btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
            color: #fff;
            background-color: #01876F;
            border-color: #01876F;
        }
        .btn-default {
            border: 2px solid;
            color: #01876F;
            background-color: #ffffff;
            border-color: #01876F;
        }
        .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
            color: #ffffff;
            background-color: #01876F;
            border-color: #01876F;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .price .oldprice, #cboxClose,.pickup-component .display-details .store-tabs .tabs-list li a {
            color: #484848;
        }
        .pickup-component .display-details .store-tabs .tabs-list li.active{border-right: 2px solid #484848;}
        .activeR {
            background: #ff9800 !important;
        }
        .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
            color: #26876f;
            background-color: #fff;
            border-color: #26876f;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .carousel__component--headline::after {
            background: #f8ba00;
        }
        .description-div-pickup .resultStock i {
            color: #056776;
        }
        .lightback .content a {color: #fff;}
        .page-productGrid .main__inner-wrapper, .page-login .main__inner-wrapper, .page-register .main__inner-wrapper,.col-header{    background-color: #f3f3f3 !important;}
}
.saudiday.language-ar{
    .SiteLogo {
        a:after{content: ''; background: url('../images/English.svg') no-repeat center center; background-size: contain;max-width: 240px; width: 100%; height: 80px;display:  inline-block;
            @media (max-width: @screen-sm-max) {
            height: 75px;
        }
        @media (max-width: @screen-xs-max) {
            height: 55px;
        }
        }
            a img{
                display: none;
             }
            }
        }