<%@ tag body-content="empty" trimDirectiveWhitespaces="true"%>

<%@ attribute name="languages" required="true" type="java.util.Collection"%>
<%@ attribute name="currentLanguage" required="true" type="de.hybris.platform.commercefacades.storesession.data.LanguageData"%>

<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions"%>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form"%>
<%@ taglib prefix="ycommerce" uri="http://hybris.com/tld/ycommercetags"%>
<%@ taglib prefix="cms" uri="http://hybris.com/tld/cmstags"%>
<spring:htmlEscape defaultHtmlEscape="true" />
 <cms:pageSlot position="HeaderLinks" var="link">
								 <cms:component component="${link}"/>
							 </cms:pageSlot>
<c:if test="${fn:length(languages) > 1}">
<li aria-haspopup="true" class="langdev">
<a class="text_lang hidden-md hidden-lg">languages</a>
<a class="link_ar " href="javascript:;"> <spring:theme code="arabic.lang" /></a>
<a class="link_en " href="javascript:;"> <spring:theme code="english.lang" /></a>
	<spring:url value="/_s/language" var="setLanguageActionUrl" />
	<form:form action="${setLanguageActionUrl}" method="post" id="" class="lang-form hidden">
		<div class="form-group">
			<spring:theme code="text.language" var="languageText" />
			<label class="control-label sr-only" for="lang-selector">${languageText}</label>

			<ycommerce:testId code="header_language_select">
				<select name="code" class="lang-selector form-control">
					<c:forEach items="${languages}" var="lang">
						<c:choose>
							<c:when test="${lang.isocode == currentLanguage.isocode}">
								<option value="${fn:escapeXml(lang.isocode)}" selected="selected"
									lang="${fn:escapeXml(lang.isocode)}">${fn:escapeXml(lang.nativeName)}</option>
							</c:when>
							<c:otherwise>
								<option value="${fn:escapeXml(lang.isocode)}" lang="${fn:escapeXml(lang.isocode)}">
									${fn:escapeXml(lang.nativeName)}
								</option>
							</c:otherwise>
						</c:choose>
					</c:forEach>
				</select>
			</ycommerce:testId>
		</div>
	</form:form>
</li>
</c:if>
