/////////////////////////////////
//     checkout summary        //
/////////////////////////////////

.checkbox.big {

  position: relative;

  #Terms1 {
    margin-left: -35px;
    height: 24px;
    width: 24px;
    margin-top: 0;

    @media (max-width: @screen-sm) {
      margin-left: 0;
    }
  }

  label {
    font-size: 14px;
    margin-bottom: 20px;
    padding-left: 35px;
    color: @text-color;
    text-transform: none;
    width: 80%;

    a {
      color: @text-color;
    }

    @media (max-width: @screen-xs) {
      width: 100%;
    }

  }
}


/////////////////////////////////
//   request quote modal       //
/////////////////////////////////
.page-multiStepCheckoutSummaryPage {
  #cboxLoadedContent {
    #requestQuoteForm {

      .headline {
        margin-bottom: 5px;
      }

      #quoteRequestDescription {
        width: 100%;
        min-height: 245px;
        padding: @grid-gutter-width/2;
        background-color: @account-subheadline-bg;
        border: 1px solid @border-color-3;
      }

      .help-block {
        font-size: 12px;
        text-align: right;
        margin-bottom: 25px;
      }
    }


    /////////////////////////////////
    //   replenishment modal       //
    /////////////////////////////////
    #replenishmentSchedule {

      .form-group {
        margin-bottom: (@grid-gutter-width * 1.5);
      }

      .column.scheduleform {
        margin-top: (@grid-gutter-width * 1.5);
      }

      .scheduleform-checkboxes {
        margin-top: @grid-gutter-width;

        label {
          text-transform: none;
          font-size: 14px;
          color: @text-color;
          font-weight: normal;
        }
      }

      .replenishmentFrequency_left {
        .has-error {
          .form-group{
            margin-bottom: 0;
          }

          .help-block {
            margin-bottom: 30px;
          }
        }
      }

      .form-actions {
        margin-top: @grid-gutter-width * 2;

        @media (max-width: @screen-xs) {
          #placeReplenishmentOrder {
            padding: (@grid-gutter-width / 2) 6px;
          }
        }
      }
    }

  }
}


///////////////////////////////////////////
//   checkout confirmation for quote     //
///////////////////////////////////////////
.checkout-success{
  margin-top: 20px;
  &-body{
    &-quote-text {
      margin-bottom: 30px;
    }
  }
}