<%@ tag body-content="empty" trimDirectiveWhitespaces="true" %>
<%@ attribute name="order" required="true" type="de.hybris.platform.commercefacades.order.data.AbstractOrderData" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>

<spring:htmlEscape defaultHtmlEscape="true"/>
<div class="label-order">awsrehg
    <spring:theme code="text.account.paymentType"/>
</div>
<div class="value-order">
    ${fn:escapeXml(order.paymentInfo.cardTypeData.name)}
    ${fn:escapeXml(order.paymentInfo.cardNumber)}
</div>

