.top_nav ul li.secondary + li.secondary > a > i:before,
.wsmenu > .wsmenu-list li.secondary + li.secondary > a > i:before {
  content: '\f0b1'
}

.wsmenu > .wsmenu-list li.secondary > a > i {
  color: #fff
}

.top_nav {
  color: #fff;

  .topnavlinks {
    padding: 20px 0 0;
  }

  .SiteLogo {

    img {
      margin: 10px 0;
      max-width: 150px;
      @media (max-width: @screen-xs-max) {
        max-width: 120px;
      }
    }

    @media (max-width: @screen-sm-max) {
      margin: 0;
      text-align: center; img {
      margin: 0 0 15px;
    }
    }
  }

  .cartmobile {
    .nav-cart {
      float: right;
      margin-top: 5px;
    }

    .mini-cart-icon {
      font-size: 20px;
    }

    .mini-cart-icon span.namecart {
      display: none;
    }

    .mini-cart-count {
      display: inline;
    }

    a {
      color: #fff;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      list-style: none;
      position: relative;
      padding: 10px 15px;
      @media (min-width: @screen-md-min) {
        padding: 10px 5px 10px 6px !important;
        font-size: 13px;
      }
      @media (min-width: @screen-lg-min) {
        padding: 10px 15px;
        font-size: 14px;
      }

      a {
        color: #fff;
      }

      ul {
        display: none;
        position: absolute;
        width: 270px;
        background: #fff;
        padding: 15px 25px;
        z-index: 1000;
        box-shadow: 0px 1px 3px 0px #808080;
        left: 0px;
        border-radius: 15px;

        li {
          display: block;
          padding: 10px;

          a {
            color: #000;
          }
        }

        .hidden-company {
          font-weight: 800;
          font-size: 17px;
          padding-bottom: 10px;
          border-bottom: 1px solid #D6D6D6;
        }
      }
    }

    li:hover ul {
      display: inline;
    }

    .link_ar, .link_en {
      img {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 2px;
      }
    }
  }

  .nav-cart div {
    display: inline;
  }

  .wsshopwp {
    height: auto !important;
  }
}

.cat_icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 5px;
}

.js-register-navigation-item {
  display: none !important;
}

.ui-front {
  position: relative;
  @media (min-width: @screen-md-min) {
    margin: 10px 0;
  }

  .ui-widget.ui-widget-content {
    width: 100% !important;
    left: 0 !important;
    right: 0 !important;

    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
    @media (min-width: @screen-md-min) {
      position: absolute;
      top: 30px !important;
    }

    a.ui-state-active, a:hover {
      background: #f2f2f2 !important;
      color: #000 !important;
      border-color: #fff !important;
    }

    .ui-menu-item-wrapper {
      position: relative;
      padding: 10px 5px !important;
      display: block;
    }
  }

  .input-group {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;

    .js-site-search-input {
      border: none;
      outline: none;
      background: none;
      height: 30px;
    }

    .js_search_button {
      padding: 4px 10px;
    }

  }
}

.paddfull {
  padding: 30px;
  @media (max-width: @screen-sm-max) {
    padding: 20px 10px;
  }
}

.grayback {
  background-color: #f3f3f3;
}

.lightback {
  background-color: #ffffff;
  color: #000;
  padding: 20px 10px;
}

.blueback {
  background-color: @brand-primary;

  .box {
    margin: 0px 10% 50px;
    width: 80%;
    display: block;
    float: left;
  }

  h1 {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin: 40px 0;
    padding: 0;
    display: block;
  }
}

.witharrow {
  text-align: center;
  padding: 0 40px;
  @media (max-width: @screen-sm-max) {
    padding: 0 20px;
  }
  @media (max-width: @screen-xs-max) {
    padding: 0 10px;
  }

  img {
    max-height: 120px;
    margin-bottom: 15px;
    @media (max-width: @screen-sm-max) {
      max-height: 50px;
      margin-bottom: 10px;
    }
    @media (max-width: @screen-xs-max) {
      max-height: 30px;
      margin-bottom: 5px;
    }
  }

  h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    @media (max-width: @screen-sm-max) {
      font-size: 14px;
      font-weight: 600;
      margin: 0;
    }
    @media (max-width: @screen-xs-max) {
      font-size: 12px;
      font-weight: 400;
      margin: 0;
    }
  }
}

.witharrow:before {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 600;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  content: "\f061";
  color: #e7a630;
  font-size: 30px;
  position: absolute;
  right: -10px;
  top: 50%;
  @media (max-width: @screen-xs-max) {
    top: 35%;
    font-size: 25px;
    right: -5px;
  }
  @media (max-width: @screen-xs-max) {
    top: 30%;
    font-size: 20px;
    right: -5px;
  }
}

.witharrow + .witharrow + .witharrow:before {
  display: none;
}

.box {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #e4e4e4;
  border-radius: 15px;
  box-shadow: 0px 0px 7px -4px #06060673;

  .box_img img {
    height: 200px;
  }

  .box_links {
    h6 {
      font-weight: 600;
      font-size: 16px;
      text-transform: uppercase;
    }

    ul {
      padding-left: 10px;
    }

    a {
      color: @text-color;
      padding-bottom: 0;
      padding-left: 10px;
    }

    li {
      list-style: none;

      a {
        display: block;
        color: @brand-secondary;
        padding-bottom: 5px;
        padding-left: 0;
        text-transform: uppercase;
        font-weight: 500;
      }
    }

  }
}

.header_style {
  padding-bottom: 0 !important;
  position: relative;

  .content {
    font-weight: 600;
    font-size: 20px;
  }

  .content::after {
    content: '';
    width: 100px;
    height: 2px;
    background: #EE3524;
    display: block;
    margin: 8px auto -10px;
  }
}

.carousel__component--headline {
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 40px !important;
  position: relative;
  font-size: 20px;
  color: #00457C;

  &::after {
    content: '';
    width: 100px;
    height: 2px;
    background: #EE3524;
    display: block;
    margin: 8px auto -10px;
  }
}

a, a:hover, a:focus {
  outline: none !important;
}

.js-owl-theme2 {
  margin: 10px 0 40px;
}

.btn a {
  color: #fff;
  min-width: 200px;
  display: block;
  @media (max-width: @screen-xs-max) {
    min-width: 150px;
  }
}

.btn a:hover, .btn:hover a {
  color: @brand-secondary;
}

.btn.btn-default a {
  color: @brand-secondary;
}

.btn.btn-default a:hover, .btn.btn-default:hover a {
  color: #fff;
}


.bluebox {
  background: #00457c9e;
  color: #fff;
  margin: 30px auto;
  padding: 20px;
  border-radius: 15px;

  h1 {
    font-weight: 600;
    padding-bottom: 40px !important;
    position: relative;
    text-align: center;
    font-size: 20px;

    &::after {
      content: '';
      width: 100px;
      height: 2px;
      background: #EE3524;
      display: block;
      margin: 8px auto -10px;
    }
  }

  h6 {
    font-size: 15px;
    color: #9fbbd1;
    margin: 10px 0 20px;
  }

  .form-group {
    margin-bottom: 20px;

    .form-control {
      background: @brand-primary;
      color: #fff;
      border: solid 1px #2269a1;
    }

    label {
      color: #bcd7ea;
      font-size: 15px;
      font-weight: 600;
    }
  }

  .btn {
    margin-bottom: 20px;
  }

  #errorcode {
    display: none;
    color: #de766d;
    font-weight: 600;
    text-shadow: 0 0 5px #1f1f1f;

    i {
      margin-right: 5px;
    }
  }
}

.sticky-wrapper.is-sticky .js-mainHeader {
  width: 100% !important;
  z-index: 9990 !important;
  box-shadow: 0px 1px 12px 1px #06060673;
}

.carousel__item--name {
  text-align: center;
  color: #000;
}

.carousel__item--price {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  color: #000;
}

.footerlogo {
  img {
    max-width: 200px;
  }

  @media (max-width: @screen-sm-max) {
    margin: 20px 0;
  }
}

footer {
  .title, .content p {
    font-weight: 600;
    margin-bottom: 10px;
  }

  ul {
    margin: 0;
    padding: 0;
    @media (max-width: @screen-sm-max) {
      margin: 0px 0 20px;
    }

    li {
      list-style: none;
      margin-top: 5px;
    }
  }

  .title, .content p {
    @media (max-width: @screen-xs-max) {
      cursor: pointer;
      &::after {
        content: "\f067";
        font-family: 'Font Awesome 5 Pro';
        font-weight: 400;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;

        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        float: right;
        line-height: 1;
      }
    }
  }

  .activeClassIcon {
    .title, .content p {
      @media (max-width: @screen-xs-max) {
        cursor: pointer;
        &::after {
          content: "\f068";
          font-family: 'Font Awesome 5 Pro';
          font-weight: 400;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;

          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          float: right;
          line-height: 1;
        }
      }
    }
  }


  ul {
    @media (max-width: @screen-xs-max) {
      display: none;
    }
  }

  .content {
    @media (max-width: @screen-xs-max) {
      padding: 0 20px;
      margin-top: -10px;
    }
  }


  .title, .content p {
    &.activemenu {
      @media (max-width: @screen-xs-max) {
        &::after {
          content: "\f068";
        }

        & + ul {
          display: block;
        }
      }
    }
  }
}

.textsection {
  .col-md-6 {
    padding: 30px;
    @media (max-width: @screen-sm-max) {
      padding: 10px 5px;
    }

    p {
      font-size: 16px;
      text-transform: capitalize;
      font-weight: 600;
      color: #000;
      margin-bottom: 25px;
      @media (max-width: @screen-sm-max) {
        font-size: 14px;
      }
    }

    ul {
      margin: 0;
      padding-left: 15px;

      li {
        margin-bottom: 20px;
        font-size: 15px;
        @media (max-width: @screen-sm-max) {
          font-size: 13px;
        }
        list-style: none;

        &:before {
          font-family: 'Font Awesome 5 Pro';
          font-weight: 400;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          line-height: 1;
          margin-left: -15px;
          margin-right: 10px;
          color: #399fc5;
          content: '\f00c';
        }
      }
    }
  }

}

.textsection2 {
  padding: 0px 30px 30px;
  border: 1px solid #dedede;
  border-radius: 15px;
  @media (max-width: @screen-sm-max) {
    padding: 10px 0px;
    border: none;
  }

  p {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    color: #000;
    margin-bottom: 25px;
    @media (max-width: @screen-sm-max) {
      font-size: 14px;
    }
  }

  .user-register__headline {
    margin-bottom: 20px;
  }

  ul {
    margin: 0;
    padding-left: 15px;

    li {
      margin-bottom: 25px;
      font-size: 15px;
      @media (max-width: @screen-sm-max) {
        font-size: 13px;
      }
      list-style: none;

      &:before {
        font-family: 'Font Awesome 5 Pro';
        font-weight: 400;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        margin-left: -15px;
        margin-right: 10px;
        color: #399fc5;
        content: '\f00c';
      }
    }
  }


}

.js-owl-rotating-image.owl-theme .owl-nav.disabled + .owl-dots {
  z-index: 10;
  margin-top: 10px;
  position: relative;
  margin-bottom: 20px;
}

@media (max-width: @screen-sm-max) {
  .sticky-wrapper {
    height: auto !important;

    .js-mainHeader {
      width: 100% !important;
    }
  }
}

.btn-200 {
  min-width: 200px;
  @media (max-width: @screen-sm-max) {
    min-width: 150px;
  }
}

.form-control {
  background-color: #f3f3f3;
}

.rowul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-20 {
  margin-top: 30px;
}

.line {
  position: relative;

  &:after {
    content: '';
    width: 1px;
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 0px;
    background: #dedede;
    display: block;
    @media (max-width: @screen-sm-max) {
      display: none;
    }
  }
}

.bootstrap-select {
  .btn.dropdown-toggle {
    background-color: #f3f3f3;
    font-weight: 400;
    border: 1px solid #ccc;
    text-transform: capitalize;
    line-height: 23px;
    color: #3c3c3c;
  }

  .dropdown-menu {
    border-radius: 15px !important;
  }
}

.bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
  border-color: #00457c;
  box-shadow: none;
  background: #f3f3f3;
}

.volPrice {
  margin: 20px 0 0 0;
  padding: 0;

  li {
    list-style: none;
    color: #7E99AA;
    padding-right: 15px;
    display: inline-block;

    i {
      display: block;
      font-size: 13px;
      font-style: normal;
      color: #7E99AA;
    }

    span {
      display: block;
      color: #7E99AA;
      font-weight: 600;
      font-size: 17px;
    }

    font-size: 15px;
    font-weight: 600;
  }
}

.relativepos {
  position: relative;
}

span.productlabel {
  background: #24C5EE;
  color: #fff;
  z-index: 100;
  position: absolute;
  left: 10px;
  right: auto;
  display: inline;
  padding: 3px 5px;
  font-size: 13px;
  font-weight: 600;
  top: 10px;
}

.price {
  color: #484848;
}

.price {


  .oldprice {
    color: #7E99AA;
    text-decoration: line-through;
    font-size: 14px;
    font-weight: 500;

  }

  .newprice {
    color: #EE3524;
  }

  .perprice {
    display: table;
    background-color: #EE3524;
    color: #fff;
    width: auto;
    padding: 5px;
    font-size: 14px;
  }

  .saveprice {
    display: block;
    color: #333;
    font-size: 14px;
  }
}

.btn-150-block {
  min-width: 150px;
}

button.btn.btn-default-2 {
  background: none !important;
  border: none !important;

  span {
    color: #676767;
  }
}

.addtocart-component .qty-selector .form-control {
  height: 34px;
  background: none !important;
  border: none !important;
  outline: none !important;
}

.qty-selector.input-group.js-qty-selector {
  border-radius: 10px;
  border: 2px solid #dcdcdc;
  margin-right: 10px;
}

.account-section .account-section-content .account-section-header, .back-link.border,
.account-section .account-section-header, .back-link {
  background: #fff;
  border: none;
  margin: 0 -30px;

  @media (max-width: @screen-sm-max) {
    margin: 0 -20px;
  }
  @media (max-width: @screen-xs-max) {
    margin: 0 -10px;
  }
}

.cart-header.border {
  background: #fff;
  border: none;
  margin: 0 -30px;
  padding: 0 10px;
  @media (max-width: @screen-sm-max) {
    margin: 0 -20px;
  }
  @media (max-width: @screen-xs-max) {
    margin: 0 -10px;
  }

  .alert {
    margin-bottom: 0;
    margin-top: 10px;
  }
}

.account-section .container-lg .account-section-content,
.well.well-tertiary {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #e4e4e4;
  border-radius: 15px;
  box-shadow: 0 0 7px -4px #06060673;
  margin-top: 20px;
}

#displaymode .pagination-bar {
  background: transparent;
  padding: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 15px;
  box-shadow: none;
  margin-top: 30px;
}

.well.well-tertiary .item-value a {
  color: #00457c;
  text-decoration: underline;
}

.account-section-content .account-list {
  .account-list-header {
    border-top: 0px solid #cccccc;
    border-bottom: 0px solid #cccccc;
    padding: 5px 0px 10px;
    background-color: #ffffff;
  }
}

.account-section .account-list .account-cards {
  border: none;
}

.account-section .pagination-bar .pagination-toolbar .sort-refine-bar {
  padding: 0 !important;
}

.account-section .account-list .account-cards .card {
  padding: 20px;
  border-radius: 0px;
  background: #f3f3f3;
  border: 1px solid #e4e4e4 !important;
}

.account-section .account-list .remove-item, .account-section .account-list .edit-item {
  color: #949494;
}

.account-section .account-list .account-cards .search-empty {
  width: 100%;
  border: none !important;
}

.account-section .account-section-content .accountActions-link {
  padding-left: 0px;
  padding-right: 0px;
}

.disable-link a {
  text-transform: uppercase;
  font-weight: 600;
  padding: 6px 15px;
  font-size: 15px;
  line-height: 1.375;
  border: 2px solid #ED1C24;
  color: #ED1C24;
  border-radius: 15px;
}

.account-section .account-list .account-cards.card-select {
  border: none;
}

.back-link {
  .back-link {
    margin: 0 !important;
    padding: 0 !important;
  }

  .account-header-done-btn {
    margin: 0;
    padding: 0;
  }
}

.account-section .pagination-bar .pagination-toolbar {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 0;
  border: 1px solid #e4e4e4;
  border-radius: 15px;
  box-shadow: 0px 0px 7px -4px #06060673;
}

.account-section .pagination-bar .pagination-bar-results {
  display: none;
}

.account-section .account-section-content .account-orderhistory-pagination .pagination-bar .sort-refine-bar {
  padding: 0;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: none;
}

.responsive-table-item a.responsive-table-link {
  color: #e42525;
  font-size: 16px;
  font-weight: bold !important;
  text-decoration: none;
}

.pagination-wrap {
  float: right;
  text-align: right;
  margin-top: 20px;
}

.pagination-bar .pagination, .pagination-bar button {
  overflow: hidden;
}

.accordion .panel .panel-collapse .panel-heading {
  background-color: #cee1ec;
  border-radius: 0;
}

.accordion .panel .panel-heading {
  border-radius: 0;
}

.main__inner-wrapper {
  min-height: 300px;
}

.content-empty.box:before {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  content: "\f071";
  font-size: 40px;
  display: block;
  margin: 20px 0;
  color: #ffadad;
}

.showinplp {
  display: none;
}

#displaymode .pagination-bar {
  padding: 10px;

  .showinplp {
    display: inline-block;
  }

  .pagination-wrap {
    margin: 0 5px 0;

    ul {
      margin-top: 0;
    }
  }

  &.top {
    .pagination-wrap {
      display: block;
    }
  }

  &.bottom {
    .pagination-topin {
      display: none;
    }
  }

  .pagination-toolbar {
    padding: 0;
    border: none;
  }

  .btn-icon-list {
    padding: 10px 10px;
    position: relative;
    font-size: 14px;


    @media (max-width: @screen-xs-max) {
      padding: 10px 3px;
      width: 28px;
    }
  }


}

#displaymode .pagination-bar .btn-icon-list:last-child::after {
  display: none;
}

.pagination-bar .sort-refine-bar {
  label {
    float: left;
    padding-right: 5px;
    line-height: 34px;
  }

  form {
    float: left;
    min-width: 54%;
  }
}

.listcontent {
  display: none;
}

#displaymode.list_view .product-item {
  width: 100% !important;
  padding: 0 !important;

  .boxin {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 0;
    border: 1px solid #e4e4e4;
    border-radius: 15px;
    box-shadow: 0px 0px 7px -4px #06060673;

    .listcontent {
      display: inline-block;
    }

    .thumb {
      float: left;
      width: 20%;
      @media (max-width: @screen-xs-max) {
        width: 50%;
        margin: 0 25% 10px;
      }
    }

    .details {
      width: 80%;
      float: left;
      text-align: left;
      height: 100%;
      @media (max-width: @screen-xs-max) {
        width: 100%;
      }

      .name {
        height: auto;
      }
    }

    .thumb {
      padding: 0 10px 0 0;

      img {
        max-width: 100%;
      }
    }

    .addtocartbox {
      float: right;
      clear: none;
      width: 270px;


      height: 100%;
      flex-direction: column;
      justify-content: space-around;

      @media (min-width: @screen-md-min) {
        display: flex;
        a {
          flex: 1;
        }
      }
    }

    .pull-left-details {
      float: left;
    }

    .js-qty-selector-input {
      border: none;
      outline: none !important;
      text-align: center;
      width: 70px;
    }

    .qty-selector.input-group.js-qty-selector {
      display: inline-block;
      width: 160px;
      margin-bottom: 10px;
      margin-right: 0;
    }

    .addtocart-component .actions .btn.btn-primary {
      min-width: 160px;
    }

    .addtocart-component .actions .btn {
      margin-bottom: 0px;
    }

    .price {
      .perprice, .saveprice {
        display: none;
      }
    }

    .addtocart-component .qty-selector .input-group-btn, .addtocart-component .qty-selector .btn, .addtocart-component .qty-selector .form-control {
      width: 36px;
    }

  }
}

#displaymode.grid_view .product__listing.product__grid {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 0;
  border: 1px solid #e4e4e4;
  border-radius: 15px;
  box-shadow: 0px 0px 7px -4px #06060673;
  @media (max-width: @screen-xs-max) {
    padding: 10px;
  }

  .boxin {
    width: 100%;
    border: 1px solid #EBE4E4;
    padding: 0px 5px 10px;
    border-radius: 10px;
  }

  .addtocartbox, .volPrice {
    display: none;
  }

  .pull-left-details {
    width: 100%;
  }

  .price {
    .perprice, .saveprice {
      display: none;
    }
  }

}

@media (max-width: @screen-xs-max) {

  .pagination-bar .sort-refine-bar {
    label {
      font-size: 11px;
    }

    .btn {
      padding: 4px 22px 4px 5px;
      font-size: 12px;
    }
  }
}

@media (max-width: @screen-sm-max) {
  div#product-facet {
    position: fixed;
    top: 0;
    -webkit-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    left: -380px;
    display: initial !important;
  }

  div#product-facet.show-facet {

    position: fixed;
    top: 0;
    display: block !important;
    z-index: 20000;
    background: #fff;
    bottom: 0;
    padding: 10px;
    box-shadow: 0px 0px 4px #2f2f2f;
    width: 100%;
    max-width: 380px;
    overflow-y: auto;
    -webkit-transform: translate(380px, 0);
    -ms-transform: translate(380px, 0);
    -o-transform: translate(380px, 0);
    transform: translate(380px, 0);
    -webkit-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    border-radius: 0;
    margin: 0;
  }

  a.hide-facets.pull-right {
    font-size: 23px;
    padding: 0px 6px;
  }

  .top-mobile-facets {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 10px;
  }
}

#displaymode .pagination-bar.bottom {
  display: none;
}

.item__list__cart li:last-child li {
  border: none;
}


.addproductdiv {
  position: fixed;
  display: none;
  right: 10px;
  width: 280px;
  padding: 15px;
  border: 1px solid #e4e4e4;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 0px 7px -4px #06060673;
  top: 30%;
  z-index: 100;
  max-height: 69%;
  overflow-y: auto;

  .closedivproduct {
    float: right;
    font-size: 15px;
    padding: 2px 5px;
  }

  #loadcontenthead {
    display: block;
    font-size: 13px;
    font-weight: 600;
    border-bottom: 1px solid #d4d4d4;
    color: #000;
    line-height: 2em;

    .headline {
      font-size: 13px;
      margin-bottom: 0px;
    }
  }

  #loadcontent {
    display: block;
    margin-top: 10px;

    .cart_popup_error_msg {
      color: #EE3524;
      margin-bottom: 10px;
      font-weight: 600;
    }

    .btn {
      display: none;
    }

    .add-to-cart .add-to-cart-item {
      margin-bottom: 5px;

      .thumb img {
        max-width: 55px;
      }

      .details {
        font-size: 13px;
        margin-left: 65px;

        .name {
          font-weight: 600;
          color: inherit;
        }
      }

      .price {
        font-size: 15px;
        text-align: left;
        font-weight: 600;
      }
    }
  }
}

.content-empty ul li {
  list-style: none;
}

@media (max-width: @screen-sm-max) {
  #product-facet {
    -webkit-transform: translate(-380px, 0);
    -ms-transform: translate(-380px, 0);
    -o-transform: translate(-380px, 0);
    transform: translate(-380px, 0);
    -webkit-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
  }

  .facetheader {
    border-bottom: 1px solid #d4d4d4;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 2em;
    margin: 0 -10px;
    padding: 10px;

    a {
      float: right;
    }
  }
}

.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
  color: #ffffff;
  background-color: #435866;
  border-color: #435866;
}

.checkout-success__body__headline {
  font-size: 22px;
  font-weight: 600;
  padding-top: 20px;
  color: #F44336;
  @media (max-width: @screen-sm-max) {
    font-size: 18px;
  }
}

.placepicker-map {
  width: 100%;
  height: 250px;
}

.another-map-class {
  width: 100%;
  height: 250px;
}

.pac-container {
  border-radius: 5px;
}


.pull-right.m-b-10 {
  margin-bottom: 10px;
  margin-top: -10px;
}

.global-alerts {
  position: fixed;
  top: 10px;
  right: 10px;
  max-width: 300px;
  background: none;
  z-index: 33000;
  @media (max-width: @screen-sm-max) {
    font-size: 18px;
  }

  .alert {
    opacity: 1;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 25px 10px 10px;
    position: relative;
    border-radius: 10px;

    .close {
      right: -10px;
    }
  }

  .alert.alert-danger {
    color: #822020;
  }
}

@media (min-width: @screen-md-min) {
  .item__list .item__image {
    width: 90px;

    img {
      width: 70px;
    }
  }

  .item__list__cart .item__quantity {
    text-align: center !important;
    width: 167px;
  }

  .item__quantity .cart-js-qty {
    margin-right: 0;
  }
}


@media (max-width: @screen-sm-max) {
  .wsmenu .secondarycolor a {
    background: #7e99aa !important;
    color: #fff !important;

    i {
      color: #fff !important;
    }
  }

  .back-link .account-header-done-btn {
    margin-top: 10px;

  }

  .item__list .item__image {
    width: 90px;

    img {
      width: 70px;
    }
  }

  .item__list--item > div {
    margin-left: 93px;
    padding: 0 30px 0 0;
  }

  .item__list .item__menu .btn {
    width: 30px;
  }
}

.addproductdiv #loadcontent .add-to-cart .add-to-cart-item + .add-to-cart-item {
  margin-bottom: 5px;
  border-bottom: 1px solid #e6e6e6;
}

.addproductdiv #loadcontent .add-to-cart .add-to-cart-item:last-child {
  border: none !important;
}


.btn-small {
  padding: 8px 15px;
}

ul.yCmsContentSlot.topsection {
  margin: 0;
  padding: 0;
  background: #7e99aa;
  color: #fff;

  li {
    list-style: none;
    padding: 0px 0px 0px 0px;
    margin: 0 0px;
    display: inline;

    a {
      color: #fff;
      padding: 10px 0px 10px 15px;
      margin: 0 10px;
      display: inline-block;

      i {
        margin-right: 5px;
      }
    }

    a:hover {
      color: #e4eff7;
    }
  }
}

@media (max-width: @screen-xs-max) {
  .account-section .account-section-content .item__list--item .item__total {
    padding-right: 0;
  }

  .responsive-table-item td.reorderdiv {
    width: 100%;
  }
}

#storeFinder .box {
  overflow: hidden;
}


.page-homepage .main__inner-wrapper .forgotten-password.box {
  margin: 0 20px;
  max-width: 350px;
}


#cboxLoadedContent .forgotten-password.box {
  margin: -15px 0 0 0;
  border: none;
  padding: 0;
}

.account-section .item-wrapper .framed .item-label {
  color: #000000 !important;
}

.logosize {
  height: 60px;
}

.page-homepage2 {
  .border-bottom-xs {
    min-height: 100px;
    @media (max-width: @screen-sm-max) {
      border-bottom: 1px solid #d4d4d4;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
  }

  .no-border {
    border: none;
    @media (max-width: @screen-sm-max) {
      margin-bottom: 0;
      padding-bottom: 10px;
    }
  }

  .thumb_style {

    .banner__component.simple-banner {
      position: absolute;
      margin-right: 0px;
      max-width: 70px;
      top: 0px;
      left: 10px;
      border-radius: 50%;
      overflow: hidden;
      height: 70px;
      border: 2px solid #00457c;

      img {
        max-width: 100%;
        width: 100%;
        height: 100%;
      }
    }

    .banner__component2 {
      float: left;
      width: 100%;
      padding-left: 80px;
      padding-top: 10px;

      h2 {
        margin: 0 0 10px 0;
        padding: 0;
        font-size: 18px;
        color: #555;
        font-weight: 600;
        @media (max-width: @screen-sm-max) {
          font-size: 16px;
        }
      }

      h3 {
        font-size: 15px;
        margin: 0 0 10px 0;
        padding: 0;
        color: #777;
        @media (max-width: @screen-sm-max) {
          font-size: 13px;
        }
      }
    }
  }

  .logosize {
    height: auto;
  }

  .main__inner-wrapper {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  /* Circle */

  .hover_style .carousel__item a {
    position: relative;
    overflow: hidden;
    display: block;
  }

  .hover_style .carousel__item a::after {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, .2);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  .hover_style .carousel__item a:hover::after {
    -webkit-animation: circle .75s;
    animation: circle .75s;
  }

  @-webkit-keyframes circle {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    100% {
      width: 200%;
      height: 200%;
      opacity: 0;
    }
  }
  @keyframes circle {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    100% {
      width: 200%;
      height: 200%;
      opacity: 0;
    }
  }


}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-20 {
  margin-bottom: 20px;
}

.padd-20-30 {
  padding: 30px 20px;
}

.no-padding {
  padding: 0 !important;
}

.no-header {
  .js-owl-theme2 {
    margin: 0px 0 10px;
  }

  .carousel__component--headline, .btn.btn-primary {
    display: none;
  }

}

.inverce_margin {
  @media (min-width: @screen-md-min) {
    margin-left: -30px;
    margin-right: -30px;
  }
  @media (max-width: @screen-sm-max) {

    margin-left: -20px;
    margin-right: -20px;
  }
}

.imagestyle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
}

.contentstyle {
  position: relative;
  z-index: 10;
  text-align: center;
  padding: 50px;
  color: #fff;
  @media (max-width: @screen-sm-max) {
    padding: 40px 20px;
  }

  h1 {
    font-weight: 800;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px #000;
    @media (max-width: @screen-sm-max) {
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 1px;
    }
  }

  p {
    font-size: 18px;
    font-weight: 600;
    text-shadow: 1px 1px #000;
    @media (max-width: @screen-sm-max) {
      font-weight: 400;
      font-size: 15px;
    }
  }

  a.btn.btn-action {
    display: inline-block;
    background: #000000;
    border: 2px solid #fff;
    padding: 10px 20px;
    margin: 5px;
    color: #fff;
    @media (max-width: @screen-sm-max) {
      padding: 8px 10px;
    }

    &:hover {
      background: #fff;
      color: #000000;
    }
  }

  a.btn.btn-action + a.btn.btn-action {
    background: #b20000;
    border: 2px solid #b20000;

    &:hover {
      background: #fff;
      color: #b20000;
    }
  }

}

.withouttext {

  .banner__component2 {
    display: none !important;
  }
}

ul.smartEditComponent + #sticky-wrapper {
  height: auto !important;
}

ul.smartEditComponent + #sticky-wrapper .js-mainHeader {
  position: static !important;
}

ul.smartEditComponent + #sticky-wrapper .topnavlinks > div {
  display: inline-block;
}


.box {
  .titleBox {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #5e5e5e;


  }

  .titleLine {
    border-bottom: 1px solid #afafaf;
    margin: 10px 0 10px 0;
  }


  .titleColCR {
    color: #767676;
    font-weight: 400;
    text-align: center;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    @media (max-width: @screen-xs-max) {
      display: inline-block;
      text-align: left;

    }
  }

  .valueColCR {
    color: #5e5e5e;
    font-weight: bold;
    text-align: center;
    display: block;
    font-size: 16px;
    @media (max-width: @screen-xs-max) {
      display: inline-block;
      text-align: left;

    }
  }

}

.pageLabel-cr-info {
  .account-section-content {
    background: #f3f2f3 !important;
    padding: 0px !important;
    border: none !important;
    box-shadow: none !important;

  }

}

.desValue, .desTitle {
  text-align: left !important;
  padding-left: 15px;
  display: block !important;

}


.headerCR {
  margin-left: 6px;

}


.crTable {
  @media (min-width: @screen-sm-min) {
    margin: 0 15px

  }

  .responsive-table-head {
    background-color: #ececec;
  }

  .responsive-table-item {
    background-color: #fff;
    border-bottom: 1px solid #dedede !important;
  }


  .mobileTitleth {
    font-weight: 500;
    font-size: 14px;

  }

  th {
    font-weight: 700;
    font-size: 14px;

  }


}

.crTable th:first-child {
  padding-left: 30px;
  border: 1px solid transparent;
  border-radius: 10px;
}

.crTable th:last-child {
  text-align: center !important;
  border: 1px solid transparent;
  border-radius: 10px;
}


.d-flex {
  display: flex;
  align-items: center;

}

.companyCr {
  .virifyBtn {
    margin-top: 6px;
  }

  .form-group.has-error {
    margin-bottom: -15px;
  }

}


.companyCrpopup {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.5);

  .popupBoxcompanyCr {

    box-sizing: border-box;
    min-width: 0px;

    width: 100%;
    z-index: 999999;
    position: fixed;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;

    height: 100%;
    width: 90%;

    max-width: 100%;
    max-height: 100%;


    .companyCrContent {
      background-color: rgb(255, 255, 255);
      box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;

      margin: 0px;
      transform: translate3d(0px, 0px, 0px);
      opacity: 1;
      zoom: .8;

      .bodycompanyCrBox {
        height: 100vh;
        overflow: hidden;
        overflow-y: scroll;
        padding: 5px 10px;

        .box {
          background-color: #f3f2f3;
        }

        .crTable {
          margin: 0px !important;

          .responsive-table-item {
            background-color: #f3f2f3;
          }

        }
      }


      .headercompanyCrBox {
        padding: 10px;


        .closepopupcompanyCr {
          float: right;
          font-size: 22px;
          cursor: pointer;

          i {
            font-weight: 600
          }
        }
      }


    }

  }
}

.closepopupcompanyCr.btn-primary {
  max-width: 300px;
  margin: 0 auto;
  /* min-height: 44px; */
  font-size: 18px;
  font-weight: 700;
}


.closepopupcompanyCrError.btn-primary {
  max-width: 300px;
  max-width: 145px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 700;
  float: none !important;
}


.companyCrpopupError {

  .contentText {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
  }

  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.5);

  .popupBoxcompanyCrError {
    box-sizing: border-box;
    min-width: 0px;
    width: 100%;
    z-index: 999999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    width: 90%;
    height: 100%;
    max-height: 100%;
    max-width: 390px;
    max-height: 170px;

    .companyCrpopupErrorInner {
      background-color: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
      margin: 0px;
      transform: translate3d(0px, 0px, 0px);
      opacity: 1;
      zoom: .8;

      .closepopupcompanyCrError {
        float: right;
        font-size: 22px;
        cursor: pointer;

        i {
          font-weight: 600;
        }
      }

    }


  }

}

.orangeback {
  span {
    text-transform: uppercase;
  }

  i {
    margin-right: 5px;
  }

  background: #f79a2e;
  padding: 10px 20px;
  color: #fff;

  a {
    margin-left: 5px;
    float: right;
    color: #fff;
    text-decoration: underline;
  }
}


.page-quoteEditPage {


  .item__info {
    @media (min-width: @screen-md-min) {
      width: 20% !important;
    }
  }

  .item__list .item__total--column, .item__lowestprice, .item__lowestprice, .js-item-total, .item__quantity, .item__lowestprice, .item__sellingprice, .item__netprice {
    @media (min-width: @screen-md-min) {
      text-align: center !important;
    }

  }


  .item__list--item {

    .item__price, .lowestPrice, .item__price {
      @media (min-width: @screen-md-min) {
        text-align: center !important;
      }
    }
  }

}

.lowestPrice {
  @media (max-width: @screen-sm-max) {
    float: none !important;
    margin: 3px 0;
    display: block;
    text-align: left !important;
    .titelPrice {
      font-weight: 500;
      font-size: 13px;
      display: inline-block !important;

    }

  }

}

.main_banner {

  .headline {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.78;
    background: #fff;
    padding: 30px 20px;
    text-align: center;
    @media (max-width: @screen-sm-max) {

      padding: 15px;
    }

    .title-bannar {
      display: block;
      font-size: 35px;
      font-weight: 800;
      color: #00457C;
      @media (max-width: @screen-sm-max) {

        font-size: 20px;
      }

    }

    .subtitle-banner {
      font-size: 18px;
      color: #00457C;
      font-weight: 700;
      display: block;
      margin-bottom: 20px;
      @media (max-width: @screen-sm-max) {

        font-size: 15px;
      }
    }
  }
}

.carousel-section {
  background-color: #F3F3F3;

}

.section-gallary {

  .paddfull {
    padding: 25px 30px;
  }
}


.js-owl--theme1 {

  img {
    height: auto !important;
  }
}


.darkback {
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: none;
}


.login_box {
  display: none;
  position: absolute;
  z-index: 99991;
  min-width: 350px;
  top: 50px;
  right: 7px;
  background: #fff;
  padding: 10px 30px;
  border: 1px solid #fff;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
  border-radius: 15px;
  @media (max-width: @screen-sm-max) {
    top: 34px;
    right: 3px;
  }

  .login-page__headline {
    color: #000;
    font-size: 18px;
    line-height: 35px;
    font-weight: 700;
    padding: 22px 0 15px;
    margin: 0;
    text-transform: uppercase;
    text-align: left;
  }

  p {
    color: #000;
    font-size: 12px;
    margin: 0 0 25px;
    font-weight: 500;
    text-align: left;
  }

  .form-group {
    .control-label {
      display: none
    }


  }

  .forgotten-password {
    margin-bottom: 15px;

    a {
      color: #7E99AA;
      margin: 0;
      padding: 0 !important;
      font-size: 12px !important;
      text-transform: capitalize !important;
      margin-top: 6px;
    }
  }

}

.login_action {

  cursor: pointer;
}

.btn {

  padding: 10px 15px;
}

.or-style {
  color: #7E99AA;

  a {
    color: #00457C;
  }
}

.login-social-text {
  color: #7E99AA !important;
  text-align: left !important;
  margin: 30px 0 15px !important;
}

.med-section {
  display: flex;
  flex-direction: column;
}

.align-row {

  display: flex;
  align-items: start;

}

.ui-menu-item {

  display: block !important;

  .thumb {
    float: left;
  }

  .name, .price {
    margin-top: 15px;
    color: #000 !important;
  }
}


.medialogin {
  display: flex;
  align-items: center;
  justify-content: center;

  #google_action {
    background: #DF4B38;
    border-radius: 50%;
    padding: 7px 10px 7px;

    color: #fff;
    height: 37px;
    width: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;

  }

  .fb {
    background: #3E5C9A;
    border-radius: 50%;
    padding: 6px 13px 7px;

    color: #fff;
    margin: 0 20px;
    height: 37px;
    width: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
  }

}

.sgin_up {
  margin: 10px 0;
}

.btn-div {

  a {
    padding: 10px 15px;
    color: #fff;
    background-color: #7e99aa;
    border-radius: 10px;
    border: 2px solid #7e99aa;
    max-width: 90%;
    margin: 0 auto;
    font-weight: 600;

    &:hover {
      color: #7e99aa;
      background-color: #fff;
      border-color: #7e99aa;
    }
  }
}

ul.medialogin {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;

}

ul.medialogin .fb {
  background: #3B5998;
  color: white;
}

ul.medialogin .google {
  background: #dd4b39;
  color: white;
}


ul.medialogin .fb:hover {
  background: #3B5998;
  color: white;
}

ul.medialogin .twitter:hover {
  background: #55ACEE;
  color: white;
}

ul.medialogin .google:hover {
  background: #dd4b39;
  color: white;
}

ul.medialogin li {
  width: 37px;
  height: 37px;
  display: inline-block;
  line-height: 43px;
  margin: 10px;
  font-size: 22px;
  position: relative;
  overflow: hidden;

  border-radius: 50%;
  color: #fff;
  text-align: center;
}

ul.medialogin li .fb {
  background: #3B5998;
  color: white;
}

ul.medialogin li .twitter {
  background: #55ACEE;
  color: white;
}

ul.medialogin li .google {
  background: #dd4b39;
  color: white;
}

ul.medialogin li i {
  color: #fff;
}

ul.medialogin li span,
ul.medialogin li iframe {
  height: 50px !important;
}

ul.medialogin li .fb_iframe_widget {
  display: inline-block !important;
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

ul.medialogin li .fb_iframe_widget span {
  opacity: 0.0000001 !important;
}

ul.medialogin li div {
  opacity: 0.0000001 !important;
}

ul.medialogin li .facebook_action,
ul.medialogin li a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}


ul.medialogin .fb {
  background: #3B5998;
  color: white;

  i {
    font-size: 20px;
    margin-top: 3px;
  }

}

ul.medialogin .google {
  background: #dd4b39;
  color: white;

  #google_action {
    padding: 0;

  }
}


.section-gallary {
  @media (max-width: @screen-xs-max) {
    .mobilesize {
      padding: 20px !important;
    }

    .paddfull {

      .col-sm-6 {
        padding: 15px 0;
      }

      .col-xs-6 {
        padding: 15px 10px 15px 10px;
      }
    }

  }
}

.otp_headline {
  color: #000;
  font-size: 18px;
  line-height: 35px;
  font-weight: 700;
  padding: 22px 0 15px;
  margin: 0;
  text-transform: uppercase;
  margin-top: 15px;
}

.btnotpchange {
  background: #FFFFFF;
  padding: 6px 8px 8px;
}

.form-control {
  height: 42px;
  border-color: #ccc;
  border-radius: 10px;
  background-color: #f3f2f3;
}

.p-description {
  color: #000000;
}

.top_nav {
  @media (min-width: @screen-md-min) {
    padding: 10px 30px;
  }
}


@media (min-width: @screen-md-min) {
  .levelThreeContainer {
    min-height: 100% !important;
    padding: 10px 0;
  }

  .wsmenu > .wsmenu-list {

    padding-left: 18px !important;

    li {
      cursor: pointer;
    }

  }

  .firstLevelMenu {
    text-align: left;
    min-height: 28px;

    a {
      color: #000;
      font-size: 14px;
    }

    padding: 10px 7px !important;
    position: relative;

    .firstLevelItem {
      padding: 0px !important;
    }
  }


  .levelThreeContainer li {
    padding: 4px 0 !important;
  }


  .levelTwoContainer {
    padding: 0px !important;;
    padding-top: 12px !important;
    border: 0 !important;
    background-color: transparent !important;

    .ChildLevelTwoItem {
      position: relative;
      display: inline-block;
      width: 100%;
    }

    li.ChildLevelTwo {
      width: 200px;
      background-color: #f2f2f2;
      color: #fff;
      padding: 0 !important;

      min-height: 28px;
      text-align: left;

      a {
        text-align: left;
        color: #7E99AA;
        display: block !important;
        max-width: 90%;
        padding: 0 12px;
        font-size: 13px;
        font-size: 13px;
        font-weight: 500;

        &:hover {
          color: #1a457c;
        }

      }

      .arrowRight {
        position: absolute;
        right: 10px;
        top: 50%;
        font-size: 13px;
        transform: translateY(-50%);

        i {
          color: #000;
        }
      }

      position: unset !important;


    }
  }
}

@media (min-width: @screen-md-min) {

  .wsmenu > .wsmenu-list {

    display: flex !important;
    padding: 0;
    justify-content: space-around;
    position: relative;
    align-items: center;
    height: 36px;
    border-bottom: 1px solid #E6E6E6;
  }

  .firstLevelItem {


    a {
      padding: 0 !important;
      color: #000;
      font-size: 14px;
      font-weight: 500;

    }
  }

  .levelThreeContainer {
    box-shadow: 0px 7px 11px #00000038;
  }

}

@media (max-width: @screen-sm-max) {

  .wsmenu-list {
    i {
      float: right;
      margin-right: 20px;
    }

  }

  ul.sub-menu {
    margin-top: 15px;
    display: none;

    li {
      margin-bottom: 5px !important
    }
  }

  .firstLevelMenu {
    min-height: 40px;

    text-align: left !important;
    padding-left: 10px !important;

    .firstLevelItem {
      display: inline-block;
      padding-top: 10px;
      width: 100%;

      a {
        padding: 0 !important;
        color: #595a58;
      }
    }

  }

  .ChildLevelTwo {
    min-height: 40px;

    text-align: left !important;


    .ChildLevelTwoItem {
      display: inline-block;
      padding-top: 10px;
      width: 100%;

      a {
        padding: 0 !important;
        color: #1a457c;

        display: inline-block;
      }
    }

  }
}

.rightSideMenu {
  left: auto !important;
  right: 0 !important;
}

.leftSideMenu {
  right: auto !important;
  left: 0 !important;

}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 13px 7.5px;
  border-color: transparent transparent #f2f2f2 transparent;


}

.leftSideMenu {

  .triangle {
    position: absolute;
    top: 0;
    left: 14px;
  }
}

.rightSideMenu {
  .triangle {
    position: absolute;
    top: 0;
    right: 14px;
  }


}

@media (min-width: @screen-md-min) {
  .levelTwoContainer {

    li {
      width: 240px !important;
      cursor: auto !important;

      a {
        padding: 6px 14px !important;
      }
    }

    li:nth-child(1) {
      padding-top: 15px !important;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    li:nth-last-child(2) {
      padding-bottom: 15px !important;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }

}

.med-section li {

  &:not(:last-child):after {
    content: "|";
    margin-left: 10px;
  }
}

.align-row-pdp {
  @media (min-width: @screen-md-min) {
    display: flex;
    .algin-pdp {
      display: grid;
      flex: 1;
    }
  }
}


.addtocart-component {
  margin: 0px 0 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .qty-selector {

    border-radius: 0;
    background: #f2f2f3 !important;

    font-size: 15px;
    font-weight: 600;
    float: left;
    margin-right: 12px;
    padding: 7px 3px !important;
    border: 1px solid #dbdbdb;

    .js-qty-selector-minus, .js-qty-selector-plus {
      border: none;
      background: #f2f2f3 !important;
      margin: 0;
      outline: none;
      padding: 4px 6px;
      height: 23px;
      max-height: 25px !important;
      width: auto;
      line-height: 2px;

      i {
        color: #A4A5A5;
        font-size: 12px;
        font-weight: 900;
      }
    }


    .js-qty-selector-input {

      text-align: center;
      border: 1px solid #f2f2f3;
      background: #f2f2f3;
      color: #a4a5a4;
      font-weight: 900;
      border-left: none;
      border-right: none;
      outline: none;


    }


  }


}

.active {

  .facet__list {
    display: block !important;
  }
}


.secondary {
  ul {
    li:last-child {
      a {
        color: red;
      }
    }
  }

}


.w-200 {
  min-width: 200px;
}


.cont_box {
  position: relative;
  min-height: 192px;
  @media (max-width: @screen-md-max) {
    min-height: 192px;
  }
  border-radius: 10px;
  padding: 11px;

  margin: 12px 9px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #e9e9e9;


  .headline {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    display: flex;
    align-items: center;

    .head_myaccount {
      color: #000;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;

    }

    .order_dis {
      margin-top: 5px;
      font-size: 12px;

      .font-title {
        font-size: 13px;
        min-width: 200px;
      }
    }
  }

  .left-side {
    float: left;

    div {
      padding: 15px;
      font-size: 25px;
      color: #EE3524;
      font-weight: 500;
    }

  }

  .right-side {
    display: block;

    .body {
      padding: 10px;
    }


  }
}

.myaccount_title {
  width: 100%;
  color: #717C80;
  font-size: 14px;
}

.myaccount_subtitle {
  text-align: left;
  width: 100%;
  color: #717C80;
  font-size: 14px;
}

.cont_box_wish {
  position: relative;
  border-radius: 18px;
  padding: 11px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.23), 0 6px 20px 0 rgba(0, 0, 0, 0.13);
  margin: 12px 9px;
  min-height: 670px;


  .head_wish {
    text-align: left;

    .fa-heart {
      color: #f08b38;
      font-weight: 500;
      margin-right: 10px;
      float: left;
      font-size: 31px;
      line-height: 39px;

    }

    .mywishlist_name {
      display: inline-block;
      font-weight: 500;
      margin-left: 10px;
      font-size: 18px;
    }
  }

  .head_wish_link {
    text-align: right;

    a {
      cursor: pointer;
      font-size: 17px;
      margin-right: 12px;
    }
  }

  .mr_b {
    margin-bottom: 10px;
  }

  .item__image {
    text-align: center;

    img {
      width: 140px;
    }
  }

  .item__info {
    text-align: center;
    font-weight: 600;
  }
}

.d-flex-account {

  @media (min-width: @screen-md-min) {
    display: flex;
  }

  .col-xs-12, .col-sm-12 {
    height: 100%;
  }

  .order-section {
    height: 100%;
  }

}

.font-title {

  color: #717C80;
  font-size: 14px;
}

.d-flex-personal-Details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.myaccount_address_header {
  color: #000;
  font-weight: bold;
  font-size: 18px;
}

.myaccount_address {
  font-size: 14px;
  color: #000000;
}

.view_All_order {
  font-size: 14px;
  color: #7E99AA;
  text-decoration: underline;
}

.order_myAccount {

  .headline {
    justify-content: space-between;

    .d-flex-center {
      display: flex;
      align-items: center;
    }
  }
}

.page-myAccount {
  main {
    background: #f3f3f3;
  }
}

.link_box_cont {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.cont_box.order_myAccount {

  @media (min-width: @screen-md-min) {
    min-height: 410px;
  }
}

.order_product_img {
  text-align: center;

  img {
    width: 100%;
    max-width: 100px;
  }
}

.order_product_name {
  text-align: center;
}

.product_order {
  margin-bottom: 15px;
}


.carousel__item--price {

  .perprice {
    position: absolute;
    top: 15px;
    font-weight: 500;
  }

  .saveprice {
    display: none
  }
}


.exVat, .incVat {
  color: #7E99AA !important;
  font-size: 10px !important;
  font-weight: 500;
  margin-left: 4px;
  display: inline-block !important;
}

.med-section, .firstLevelMenu {
  .top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .swithchTax {
    padding: 20px 0 0;
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;

    .labelVat {
      font-size: 14px;
      margin-right: 7px;
    }


    .switch {
      position: relative;
      display: inline-block;
      width: 47px;
      height: 23px;
      margin: 0 8px;


      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        -webkit-transition: .4s;
        transition: .4s;


      }

      .slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 6px;
        bottom: 2.5px;
        background-color: #1a457c;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked + .slider {
        background-color: #fff;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #fff;
      }

      input:checked + .slider:before {

        transform: translateX(19px);
      }

      /* Rounded sliders */

      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

    }
  }
}


.firstLevelMenu {
  .swithchTax {
    padding-top: 6px;
    color: #1a457c;


    .labelVat {
      font-size: 14px;
      margin-right: 7px;
    }

    .switch {
      .slider.round {
        border: 1px solid #1a457c;
      }
    }
  }
}

.page-address-book {
  .main__inner-wrapper {
    background-color: #f3f3f3;

    .account-addressbook {
      .card {


        background: #FFFFFF;
        margin: 0;
        border-radius: 10px;
        color: #000;
        height: 100%;
        position: relative;
        min-height: 220px;

        .pull-left {
          margin-bottom: 5px;
        }

        .account-set-default-address {

        }
      }
    }
  }
}

.order-number {
  font-weight: 800;
  font-size: 16px;
  color: #000;

  .num-of-order {
    margin-left: 5px;
    font-weight: normal;
    color: #000;
    text-transform: capitalize;
    font-size: 16px;
  }
}

.account-orderhistory-table-head {

  th {
    font-weight: 800;
    color: #000000;
  }
}

.orderhistory-list-table {
  color: #000000;
}


.store-finder-mobile {

  color: #1a457c !important;
  padding: 6px 0 !important;
  border: none !important;
  border: none;
  display: flex;
  align-items: center;

  span {
    margin-right: 5px;
  }
}


.phoneNumber-mobile {
  color: #1a457c !important;
  padding: 6px 0 !important;
  border: none !important;
  border: none;
  display: flex;
  align-items: center;

  span {
    margin-right: 5px;
  }

}


.priceDefaultColor {
  font-size: 12px !important;
  color: #000000 !important;

}

.product-category-page {
  background-color: #f3f3f3;

  .categoryItem {

    padding: 30px 20px;

    .categoryImage {
      text-align: center;

      img {

        border-radius: 15px;
      }
    }

    .categoyNaPatternConstraintme {

      margin-top: 12px;
      color: #000;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
    }
  }
}

.page-multiStepCheckoutSummaryPage {

  .top_nav .topnavlinks {
    padding: 12px 0 0 !important;
  }

  .selectCityDiv .selectBox {
    margin-top: 1px !important;
  }


}

.activefooter {
  display: block !important;
}

.categoryRow {
  display: flex;
  flex-wrap: wrap;
}

.main_banner {
  min-height: 480px;
  @media (max-width: @screen-sm-max) {
    min-height: 220px;
  }
  position: relative;

  .owl-carousel {
    position: unset;

    .owl-stage-outer {
      position: unset;

      .owl-stage {
        position: unset;

        .owl-item {
          position: unset;
        }
      }
    }
  }
}

header {
  @media (max-width: @screen-sm-max) {
    padding-bottom: 0px !important;
  }

}

.js-openTab {
  display: none !important;
}

.selectCityDiv {
  .selectBox {
    display: flex;
    height: 30px;
    align-items: center;
    background: #fff;
    color: #00457C;
    border: 1px solid #86C5F6;
    border-radius: 15px;
    padding: 0 10px;
    margin-top: 9px;
    justify-content: space-between;

    .titleCity {
      color: #000;
    }

    .selectCity {
      color: #000;
    }


  }
}


.deliverypopup {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.5);


  .divChangeCity {
    margin: 30px 0 25px;
    font-size: 14px;
    padding-left: 15px;
    color: #000;

  }

  #searchInputText {
    height: 40px !important;
    border: 1px solid #eee !important;
    border-radius: 10px !important;
    background-color: #F3F3F3;
    box-shadow: none !important;
    margin-left: 15px;

    &::placeholder {
      color: #000;
      opacity: 1; /* Firefox */
    }
  }

  .popupBoxdelivery {

    box-sizing: border-box;
    min-width: 0px;
    height: 100vh;
    width: 100%;
    z-index: 999999;
    position: fixed;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: 0px;

    height: 80%;
    width: 70%;
    @media (max-width: @screen-sm-max) {
      width: 95%;
    }

    max-width: 100%;
    max-height: 100%;


    .deliveryContent {
      background-color: rgb(255, 255, 255);
      box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
      border-radius: 2px;
      padding: 24px 0px;
      margin: 0px;
      transform: translate3d(0px, 0px, 0px);
      opacity: 1;

      @media (max-width: @screen-xs-max) {
        margin: 0px 20px;
      }

      .default-view, .select-city {
        box-sizing: border-box;
        min-width: 0px;

        margin: 0px;
        padding: 0px 24px;

        .titleSerachdelivery {
          color: #000;
          font-weight: 600;
          margin: 16px 0px;
          text-align: left;
        }

        .select-default {

          box-sizing: border-box;
          min-width: 0px;
          display: flex;
          width: 100%;
          -webkit-box-pack: justify;
          justify-content: space-between;
          margin: 0px 0px 16px;
          background: #fff;
          padding: 12px 16px;

          .title-select {
            color: #000;

            .title-select-text {
              padding-right: 5px;
            }

            .title-select-value {
              padding-left: 5px;
            }

          }
        }

      }


      .headerdeliveryBox {
        padding: 10px 24px;

        .titleheaderdelivery {
          font-size: 18px;
          color: #000000;
          font-weight: bold;
          padding-left: 13px;
        }

        .closepopupdelivery {
          float: right;
          font-size: 16px;
          cursor: pointer;
          color: #00457C;
        }
      }


    }


  }

}

.itemListPlaces {
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;

  .itemCity {
    border: 1px solid #C9C9C9;
    color: #000;
    padding: 16px 5px;
    text-align: center;
    margin: 12px;
    cursor: pointer;

    &:hover {
      background-color: #c9c9c9;
    }


  }

}

.CityClickBtn {
  cursor: pointer;
}


.selectedCity {
  background-color: #00457C !important;
  color: #fff !important;

}

.js-add-to-cart-for-pickup-popup {

  background-color: #3896d2 !important;
  border-color: #3896d2 !important;

  &:hover, &:focus {
    background-color: #135a81 !important;
    border-color: #135a81 !important;
  }
}


.page-productDetails {
  .main__inner-wrapper {
    background-color: #F3F3F3 !important;
  }
}

.page-multiStepCheckoutSummaryPage {
  .main__inner-wrapper {
    background-color: #F3F3F3 !important;
  }
}

.header-div-pickup {
  color: #00457C;
  font-size: 25px;
  text-transform: uppercase;

  .icon-header-pickup {
    color: #7E99AA;
    font-size: 20px;
    margin-right: 10px;
  }

}

.description-div-pickup {

  margin: 20px 0 8px;


  .resultStock {
    color: #7A7A7A;
    font-size: 12px;
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-left: 7px !important;
    @media (max-width: @screen-sm-max) {
      display: block;
      margin: 10px 0 5px;

    }

    i {
      position: absolute;
      font-size: 20px;
      color: #0F9900;
      margin-right: 7px;
      left: 0;

    }

    i.fa-times-circle {
      color: red;
    }
  }
}


.massage-div-pickup {


}

.pos-relative {
  position: relative;

  .js-pickup-in-store-button, .CityClickBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    color: red;
    border: none;
    background: transparent;
    cursor: pointer;
    text-transform: capitalize;
  }

}

.StoreSection {
  @media (min-width: @screen-md-min) {
    display: flex !important;
    .colStore {
      display: grid !important;
    }
  }
}


.page-cartPage {
  .pickUpInCart {


    .container {
      display: flex;

      width: auto !important;
      position: relative;
      padding: 10px;
      padding-left: 65px;
      cursor: pointer;
      font-size: 15px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      color: #000;
      user-select: none;
      min-height: 63px;
      align-items: center;
      background: #ECECEC;
      margin: 10px 0 !important;
      border-radius: 12px;
      @media (max-width: @screen-sm-max) {
        flex-wrap: wrap;
      }
    }


    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    /* Create a custom radio button */

    .checkmark {
      position: absolute;
      top: 50%;
      left: 27px;
      height: 30px;
      width: 30px;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid #707070;
      transform: translateY(-50%);
    }

    /* On mouse-over, add a grey background color */

    .container:hover input ~ .checkmark {
      border-color: #8a8989;

    }

    /* When the radio button is checked, add a blue background */

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    .activeR input ~ .checkmark {
      background-color: #fff;

    }

    /* Create the indicator (the dot/circle - hidden when not checked) */


    /* Show the indicator (dot/circle) when checked */

    .activeR input ~ .checkmark:after {

      &:hover {
        background: #17b907 !important;
      }
    }

    /* Style the indicator (dot/circle) */

    .container .checkmark:after {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) !important;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #0F9900;


    }

    .activeR input ~ .checkmark:after {

      display: block;
      content: '\2714';
      font-size: 24px;
      padding-bottom: 0;
      padding-left: 3px;
      background-color: #0F9900;
      border-color: #0F9900;
      color: #fff;

    }
  }
}

.pickUpInCart {

  .massage-div-pickup {
    margin: 0;
    font-size: 13px;
  }

  .icon-header-pickup {
    color: #7E99AA;
    font-size: 22px;
    padding-right: 22px;

  }

  .content-check {
    display: flex;
    align-items: center;
    padding-left: 19px;
  }

  .header-div-pickup {
    font-size: 16px;
    font-weight: bold;
    color: #000;
  }

}

.padd_space {
  margin: 0 0 15px;
}

.search-section.hidden-md {
  padding-bottom: 10px !important;
}


.product-main-info {
  .variant-section {

    select.form-control.variant-select {
      width: 0 !important;
    }

    @media (min-width: @screen-sm-min) {
      .variant-name.pull-left {
        min-width: 115px !important;

      }

    }
  }
}


.pickup-product {
  .thumb, .pickup-product-info {
    display: none !important
  }
}

.plpIcon-list {
  .homeDe {
    color: #7E99AA;
    font-size: 16px;
    margin-bottom: 6px;

    .icon-header-pickup {
      i {
        color: #7E99AA;
      }

      margin-right: 2px;
      margin-left: -10px;


    }
  }

  .pickupStore {
    color: #7E99AA;
    font-size: 16px;
    text-transform: uppercase;

    .icon-header-pickup {
      i {
        color: #7E99AA;
      }

      margin-right: 8px;


    }
  }

}

.pickup-sub-discriptions {
  margin-bottom: 12px;
  font-size: 15px;
  color: #E32220;

}

.activeR {
  background: #7E99AA !important;

  .icon-header-pickup {
    color: #fff;
  }

  .header-div-pickup, .massage-div-pickup {
    color: #fff;
  }

}

.checkout-paymentmethod {
  .container-radio {
    position: relative;
    padding-left: 28px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;

    color: #000;
    font-size: 14px;
    font-weight: 400;
    display: block;

    i {
      color: #7E99AA;
      margin-right: 4px;
    }

    @media (max-width: @screen-xs-max) {

      font-size: 12px;
    }
  }

  /* Hide the browser's default radio button */

  .container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;

    border-radius: 50%;
    border: 1px solid #707070;
  }

  /* On mouse-over, add a grey background color */

  .container-radio:hover input ~ .checkmark {
    border: 1px solid #ccc;
  }

  /* When the radio button is checked, add a blue background */

  .container-radio input:checked ~ .checkmark {
    border: 1px solid #00457c;

  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */

  .container-radio input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */

  .container-radio .checkmark:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #00457c;
  }

  .container-radio {
    display: block
  }

}

.checkout-steps {

  .checkout-review.hidden-xs {
    padding: 0 !important;
  }

  .checkout-order-summary {

    border: 0 !important;
  }

  .checkbox {
    margin-left: 0 !important;
  }

}


.productlabel {
  span {
    min-width: 66px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    background-color: #EE3524;
    margin-left: 14px;
    display: inline-block;
    padding: 2px 7px;
    margin-bottom: 4px;
  }

  .new {
    background-color: #EEB124;
  }

  .sale {
    background-color: #24C5EE;
  }

  .recommended {
    background-color: #16B504;
  }


}

.productlabel {
  z-index: 100;
  position: absolute;
  left: 0;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  top: 0;
  text-align: left;

}

.page-productGrid,
.page-login,
.page-register {
  .main__inner-wrapper {
    background-color: #F3F3F3 !important;
  }
}

.page-productGrid {
  .main__inner-wrapper {
    #product-facet {
      background-color: #fff !important;
      border-radius: 10px;

      @media (max-width: @screen-sm-max) {
        border-radius: 0 !important;
      }
    }

  }

}

.page-productDetails {
  .productlabel {
    top: 20px;
  }

}


.page-productGrid .main__inner-wrapper #product-facet {
  border-radius: 10px;
}

.product__facet .facet {
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  box-shadow: none !important;
}

.product__listing.product__grid .details .price {
  font-weight: 700;
}

.product__listing.product__grid .details .price + .price {
  font-size: 15px;
  font-weight: 600;
}

#displaymode.list_view .product-item .boxin .details .name {
  margin-bottom: 15px;
  font-size: 16px;
}

.pagination > li > a, .pagination > li > span {
  border: 1px solid #e4e4e4;
  background: #ffffff;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: #1a457c;
  background-color: white;
  border-color: #1a457c;
}

#displaymode .pagination-bar.bottom, #displaymode .pagination-bar.bottom .pagination-topin {
  display: block;
}

.alert {
  border-radius: 0px;
}

.med-section .ui-front li:not(:last-child):after {
  content: '';
  display: none;
}

.ui-menu-item .thumb {
  width: 40px;
  margin: 0 5px;
}

.ui-menu-item .thumb img {
  width: 100%;
}

.ui-menu-item .name {
  margin-top: 5px;
}

.ui-menu-item .price {
  margin-top: 10px;
}

#displaymode .pagination-bar {
  padding: 10px;
  background: #fff;
}

#displaymode.list_view .product-item .boxin {
  border: none;
}

.StoreSection .colStore .box {
  background: #eee;
  border: none;
  padding: 30px
}

.selectCityDiv .selectBox {
  height: auto;
  min-height: 30px;
}

.page-cartPage .pickUpInCart .activeR input ~ .checkmark:after {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  content: "\f00c";
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  padding: 0;
}

.checkout-steps .prevCurrent:before {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  content: "\f00c";
  font-size: 16px
}

.cart-top-bar {
  background: none;
}

.page-cartPage .main__inner-wrapper {
  background: #f3f3f3;
}

.boxback {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
}

@media (max-width: @screen-sm-max) {
  .item__list .item__total {
    float: left;
  }

  .selectors_pdp a {
    display: inline-block;
  }

}

@media (max-width: @screen-xs-max) {
  .StoreSection .colStore .box {
    padding: 15px
  }
}


.template-pages-account-accountLayoutPage .main__inner-wrapper, .page-CategoriesLandingPage .main__inner-wrapper {
  min-height: 300px;
  background: #f3f3f3;
}


.carousel__component-title {
  position: relative;

  span {
    position: absolute;
    right: 13px;
    top: 14px;

    a {
      color: #000;
      text-transform: uppercase;
    }

  }


  .carousel__component--headline {
    @media (max-width: @screen-sm-max) {
      display: inline-block;
      text-align: left;
    }
  }
}

#js-site-search-input {

  &::placeholder {
    color: #00457C;
  }
}

a.step-head.js-checkout-step.prevCurrent {
  background: #7E99AA;
  color: #fff;

  .edit {
    color: #fff;
  }
}

.step-body {
  .termsAndConditionsLink {
    font-size: 18px;
    color: #EE3524;
    font-weight: bold
  }

}

.checkout-review.hidden-xs {
  margin: 0 !important;
}

.checkout-order-summary {
  color: #000000;

}

.js-address-book {
  min-width: 170px !important;
  color: #7E99AA !important;
  background-color: #fff !important;
  border-color: #7e99aa !important;
  padding: 10px 22px !important;
  font-size: 16px;
  text-transform: uppercase;
  margin: 10px 0 20px;
  font-weight: normal;
  @media (max-width: @screen-sm-max) {
    min-width: 140px;
    padding: 8px 14px !important;
    font-size: 13px;
  }

  &:hover, &:focus {
    color: #fff !important;
    background-color: #7e99aa !important;
    border-color: #7e99aa !important;
  }
}


#countrySelector {
  .form-group {

    @media (max-width: @screen-sm-max) {
      display: block;

    }

    label {
      color: #7E99AA;
      font-weight: 400;
      margin: 0;
      margin-right: 22px;
      @media (max-width: @screen-sm-max) {
        margin-bottom: 7px;

      }

    }

    .control {
      width: 100%;
    }
  }

}

#addressForm {

  .checkbox {
    margin-top: 20px !important;

    label {
      color: #888;
      font-size: 16px;
      @media (max-width: @screen-sm-max) {
        font-size: 13px;
      }
    }

    input[type="checkbox"] {
      margin-top: 5px;

      @media (max-width: @screen-sm-max) {
        margin-top: 3px;
      }
    }
  }
}


.msgDeliveryMethod {

  font-size: 16px;
  color: #7E99AA;
}

.totals {
  span {
    font-weight: bold !important;
  }
}

.page-orderConfirmationPage {
  .main__inner-wrapper {
    background-color: #F3F3F3 !important;
  }
}

.orderTotal {

  .col-xs-6 {
    color: #666666;
    font-weight: 500 !important;

    .text-right {
      color: #000000;
      font-weight: 500 !important;
    }

    .totals {
      color: #000000;
      font-weight: 800 !important;
      margin-top: 20px;
    }
  }

}

#reorderForm {
  padding: 0 !important;
}

.product-grid-right-result-component {
  @media (max-width: @screen-sm-max) {
    .pagination-wrap {
      text-align: center;
      margin: 26px 0 0 !important;
    }
  }


}

.page-productDetails {

  #cboxLoadedContent {
    margin-top: 80px !important;
  }
}

.productNumPlp {
  padding: 15px;
  margin-bottom: 10px;

  .productTitlePlp {
    font-weight: 800;
    color: #000;
    font-size: 18px;
  }

  .ProductNumberFound {
    color: #848484;
    font-size: 14px;
    margin-top: 2px;
  }
}

.cart-id {
  margin: 0 -30px;
  background: #fff;
  padding: 13px 30px;
  @media (max-width: @screen-sm-max) {
    margin: 0 -20px;
  }

  .cart-title-id {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .cart-subtitle-id {
    font-size: 16px;

  }
}

.js-continue-checkout-button {
  @media (max-width: @screen-sm-max) {
    font-size: 12px !important;
  }

}

.space_header {
  @media (min-width: 1150px) {
    padding-left: 40px !important;
  }
}

.col-header {

  background-color: #f3f3f3 !important;
}

.Pad_cart_de {
  margin-bottom: 25px;
}

.cartProduct {

  .cart__actions {
    display: none !important;
  }
}

.right-side-cart {

  .carousel-component {
    display: none !important;

  }

}

.page-orders {
  .top {

    .pagination-wrap {
      display: none !important
    }
  }

  .bottomPagination {
    border: 0 !important;
    justify-content: flex-end;
    padding: 0 !important;
    margin: 0;
    display: block !important;

    .pagination-topin {
      display: none !important;
    }

    .pagination-wrap {
      margin: 0 !important;
      min-height: 0 !important;
      width: 100%;
      float: none !important;

      .pagination {
        margin: 15px 5px 10px !important;
        width: 100% !important;
        display: block !important;
        padding: 0 10px
      }
    }


  }

  .account-section .pagination-bar.bottom {
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;

    .pagination-toolbar {

      padding: 0 !important;
      margin: 0 !important;
    }
  }

}

.pagination-next, .pagination-prev {
  a {
    &:hover {

      background-color: #3f72b9 !important;
      border-color: #3f72b9 !important;
    }
  }
}


#sortForm1 {
  @media (max-width: @screen-sm-max) {
    .btn-group.bootstrap-select {
      background-color: #fff !important;
    }
  }
}

.showinplp {
  @media (max-width: @screen-sm-max) {
    display: block !important;
    text-align: center;
  }
}

.filter-title {
  color: #1a457c;
}

.desktop-cart-page {
  @media (min-width: @screen-md-min) {
    .rowul {
      .item__list--item {
        .item__price {
          text-align: center
        }
      }
    }
  }
}

.cart__actions {
  @media (max-width: @screen-md-max) {

  }

}

.title-text-faces {
  @media (min-width: @screen-md-min) {
    max-width: 80%;
    display: inline-block;
  }

}

.account-orderhistory {

  padding: 25px 0;
}

.bottomPagination {
  .pagination-wrap:empty {
    background: red;
    display: none !important;
  }
}

.cartPickup {
  min-height: 45px;
  position: relative;

  .description-div-pickup {
    display: inline-block;
    margin: 0px 7px 8px;
  }

  .pos-relative {
    position: unset;
    display: inline-block;

    .header-div-pickup, .resultStock, .massage-div-pickup, .description-div-pickup {
      display: none !important;

    }

    .js-pickup-in-store-button {
      top: 0 !important;
      position: relative !important;
      transform: none !important
    }
  }
}

.msg_shipment {
  margin: 20px 0 8px;
  color: black;

  i {
    color: #7E99AA;
    font-size: 15px;
    margin-right: 5px;
  }


}

.phone_num {
  color: #757575;

  i {
    font-size: 15px;
    margin-right: 6px;
    color: #EE3524;
  }
}

.openingHours {
  text-transform: capitalize;
  color: #757575;

  i {
    font-size: 15px;
    margin-right: 6px;
    color: #EE3524;
  }

  dl {
    color: #757575;
    margin-bottom: 5px !important;

    dt {
      font-weight: 200;
      color: #757575;
      width: auto !important;
      text-align: left !important;
      @media (max-width: @screen-sm-max) {
        display: inline-block !important;
        width: 50% !important;
      }
    }

    dd {
      margin-left: 110px !important;
      @media (max-width: @screen-sm-max) {
        margin-left: 0px !important;
        display: inline-block !important;
      }
    }
  }
}

.flex-map-location {
  display: flex;
  align-items: center
}

.mapSvg {
  background: url(../images/addresspin.svg) no-repeat;
  margin-right: 7px;
  width: 18px;
  height: 18px;
  display: inline-block;
}

.page-multiStepCheckoutSummaryPage {

  @media (max-width: @screen-sm-max) {
    .js-pickup-in-store-button {
      position: relative !important;
      transform: none !important;
    }
  }

  .header_section {
    display: none !important;
  }
}

.js-owl--theme1 {
  .carousel__item {
    padding: 0;

    .headline {
      display: none;
    }
  }
}

.withouttext {

  .main_banner {
    min-height: auto;

    .owl-dots {
      display: none;
    }
  }
}

.m-b-15 {
  margin-bottom: 15px;
}

.logosize {
  height: auto
}

.textsection {
  .col-md-6 {
    padding: 30px;
    @media (max-width: @screen-sm-max) {
      padding: 10px 5px;
    }

    p {
      font-size: 16px;
      text-transform: capitalize;
      font-weight: 600;
      color: #000;
      margin-bottom: 25px;
      @media (max-width: @screen-sm-max) {
        font-size: 14px;
      }
    }

    ul {
      margin: 0;
      padding-left: 15px;

      li {
        margin-bottom: 20px;
        font-size: 15px;
        @media (max-width: @screen-sm-max) {
          font-size: 13px;
        }
        list-style: none;

        &:before {
          font-family: 'Font Awesome 5 Pro';
          font-weight: 400;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          line-height: 1;
          margin-left: -15px;
          margin-right: 10px;
          color: #399fc5;
          content: '\f00c';
        }
      }
    }
  }

}

.thumb_style {

  .banner__component.simple-banner {
    position: absolute;
    margin-right: 0px;
    max-width: 70px;
    top: 0px;
    left: 10px;
    border-radius: 50%;
    overflow: hidden;
    height: 70px;
    border: 2px solid #00457c;

    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
    }
  }

  .banner__component2 {
    float: left;
    width: 100%;
    padding-left: 80px;
    padding-top: 10px;

    h2 {
      margin: 0 0 10px 0;
      padding: 0;
      font-size: 18px;
      color: #555;
      font-weight: 600;
      @media (max-width: @screen-sm-max) {
        font-size: 16px;
      }
    }

    h3 {
      font-size: 15px;
      margin: 0 0 10px 0;
      padding: 0;
      color: #777;
      @media (max-width: @screen-sm-max) {
        font-size: 13px;
      }
    }
  }
}

.right-content-checkmark {
  position: absolute;
  right: 20px;
  font-size: 14px;
  text-transform: capitalize;
  color: #7E99AA;
  font-weight: normal;
  @media (max-width: @screen-sm-max) {
    position: unset;
    flex: 100%;
    margin-left: 20px;
  }
}

.activeR {

  .right-content-checkmark {
    color: #fff;
  }

}

.hidden-md.hidden-lg {

  .loginmobileDiv {

    position: fixed;
    left: -380px;
    z-index: 3000;
    background: #00000069;
    top: 0;
    bottom: 0;
    right: 0;
    @media (max-width: @screen-xs-max) {
      left: -100%;
    }

    .taplogInreqister {
      transform: translate(11px, 39px);
      position: unset !important;
      display: block !important;

    }
  }
}

.categoryGroup {
  display: flex;
  flex-wrap: wrap;
}

.mar_mob {
  margin: 10px 0;
}
.popuphome {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000052;
  z-index: 1000;
}
.popuphomebox {
  position: fixed;
  width: 40%;
  margin: 15% 30%;
  padding: 40px 20px;
  border: 1px solid #dfdfdf;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 2px 9px 1px #686868;    text-align: center;
  @media (max-width: 1000px) {width: 90%; margin: 15% 5%;}
  @media (max-width: @screen-xs-max) {
  
    .btn-primary{display: block;}
  }
}
a.hidepopuphome {
  position: absolute;
  right: 10px;
  background: #fff;
  top: 7px;
  font-size: 19px;
  color: #ff0a0a;
}
.popuphomebox p {
  font-size: 15px;
  text-align: center;
  color: #363535;
  line-height: 2em;
  font-weight: 600;
}
@media (max-width: 1024px) {
  .firstLevelMenu .store-finder-mobile {
    background: none !important;
  }
  }
  @media (max-width: 1024px) {
#reviewcomment {
    height: 150px !important;
    min-height: 150px !important;
}
  }
  
  
  .socialMediaContent{
ul{display:block !important}
  	li{ display:inline-block;   padding: 4px 6px;font-size: 20px;}
    a { display: inline-block;padding:2px;} 
	i { color: #fff;}
	}
  span.notaccpted {
    background: #ee3524;
    display: block;
    padding: 5px;
    margin: 0 0 10px 0;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
}
.selectorlocation {
  font-size: 13px;
  margin-top: -5px;
  margin-bottom: 10px;
  background: #1a457c;
}