//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb-section{
	background:none;
	  .full-width-padding();
	  padding:0px 20px !important;
	  @media (max-width: @screen-sm-max) { padding:0px 10px !important;}
	.breadcrumb{
		font-size: 12px;
		font-weight: 400;
		text-transform: capitalize;
		margin: 0;
		background:none;
	}
}
