footer {
  margin-top: 0px;
  background: @footer-background;
  color: @footer-text-color;
  font-weight: 300;
}
.main__inner-wrapper{    padding: 0 30px 30px;
  @media (max-width: @screen-sm-max) { padding: 0 20px 30px;}
  @media (max-width: @screen-xs-max) { padding: 0 10px 20px;}
}
.page-homepage {
  .main__inner-wrapper{    padding: 0 0px 30px;
    @media (max-width: @screen-sm-max) { padding: 0 0px 30px;}
    @media (max-width: @screen-xs-max) { padding: 0 0px 20px;}
  }

}
.footer__top {
  padding-bottom: 50px;
  padding-top: 0px;

  @media (max-width: @screen-md) {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .footer__nav--container {

    @media (max-width: @screen-sm) {
      margin-bottom: 10px;
    }

    .footer__nav--links {
      padding-left: 0px;
      width: 100%;
      margin: 0px;
      list-style: none;

      .footer__link {
        margin-top: 5px;
      }

      a {
        color: @footer-text-color;
        font-size: 14px;
      }
    }
  }
}

.footer__left {
  .full-width-padding();
}

.footer__right {
  .full-width-padding();
  @media (max-width: @screen-md) {
    border-top: 1px solid @footer-border-color;
    padding-top: 30px;
    margin-top: 25px;
  }

  .footer__dropdown {

    select.form-control {
      padding: 2px 13px;
    }

    .form-group {
      margin-bottom: 0;
    }

    .form-control {
      cursor: pointer;
      background-color: @footer-background;
      color: @footer-text-color;
      padding: 7px 10px;
      height: 26px;
      line-height: 20px;
      font-size: 14px;

      option {
        background-color: @footer-background;
      }

      &:focus::-ms-value {
        background-color: @footer-background;
      }
    }
  }
}

.footer__copyright {
  background: @copyright-background;
  padding: 25px 0;
  color: @copyright-color;
  text-align: center;
}
