.image-gallery__image{
	cursor: pointer;
}

.image-gallery__zoom-icon{
	font-size: 20px;
	opacity: 0.5;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 10;
}

.page-productDetails {
  .carousel {
	@media (min-width: @screen-sm){
	  padding-left: 30px;
	  padding-right: 30px;
	}
  }
}

.product-details,
.product-details-price{
  margin-bottom: 10px;

  @media (max-width: @screen-xs-max){
	padding: 0;
  }

  .name {
    .page-headline();
	padding: 0;
	margin: 0 0 20px;
  }
    .sku{
        font-size: 15px;
        line-height: 18px;
        color: #7E99AA;
        position: relative;
        padding-left: 0px;
        font-weight: 400;

        
    }

    .code {
        font-size: 15px;
        line-height: 18px;
		padding-left: 5px;
		color: #7E99AA;
    }


  .promotion {
      color: @item-promo-color;
  }

  .description{
      padding: (@grid-gutter-width/2) 0 25px;
  }

  .price{
      font-size: 25px;
      font-weight: bold;
  }

  .stock-status{
      font-weight: 300;
  }
}

@media (max-width: @screen-md-max) {
	.product-details,
	.product-details-price {
		.description{
			border-bottom: 1px solid @border-color-3;
		}
	}
}

.product-details.page-title {
  .full-width-padding();
}

.product-main-info {
 	.full-width-padding();

  .product-details {
	padding: 0;
  }
}

.variant-section{
	margin-bottom: @grid-gutter-width + @grid-gutter-width/2;

	.variant-selector{
		.variant-name{
			font-size: 13px;
			font-weight: 600;
			color: @label-color;
			text-transform: uppercase;
			margin-top: 15px;
			margin-bottom: 5px;
			label{    line-height: 25px;    margin-right: 10px;}
			.variant-selected{
				font-weight: normal;
				text-transform: none;
			}
		}

		.variant-list{
			.list-unstyled;
			.clearfix;
			margin-left: -(@grid-gutter-width);

			li{
				float: left;
				margin: 0 0 0 (@grid-gutter-width);
				a,span{
					display: block;
					height: @input-height-base;
					width: @input-height-base;
					line-height: @input-height-base;
					text-align: center;
					text-transform: uppercase;
					border:1px solid @input-border-color;
					background: #fff;
					color: @text-color;
					text-decoration: none;

					@media (max-width: @screen-sm-max) {
						height: @input-height-large;
						width: @input-height-large;
						line-height: @input-height-large;
					}


					img{
						width: 100%;
						height: auto; 
						vertical-align: top;
						border:1px solid transparent;
					}
				}

				

				&:hover a,
				&.active a{
					background: @brand-primary;
					.box-shadow(~"inset 0 0  0 1px #fff");
					border:1px solid @brand-primary;
					color: #fff;
					

					img{
						border:1px solid #fff;
					}
				}


				&.disabled{
					span{
						color:#999;
						cursor: not-allowed;
					}
				}
			}
		}
		.variant-select{
			margin: (@grid-gutter-width/2) 0 0;
			width: auto !important;
		}
	}
}


.rating{
	margin: 10px 0;
	.clearfix;
	
	.rating-stars{
		margin: 0 5px 0 0;
		padding: 3px 0 1px;
		width: 106px;
		position: relative;
		

		@media (max-width: @screen-sm-max) { 
		
			float: none;
			.clearfix;
		}

	  	.greenStars{
		  position: absolute;
		  overflow: hidden;
		  top: 3px;
		  left: 0;
		  white-space: nowrap;
		  width: 0;
		}

		span{
			color: #dee3e8;
			margin: 0 0.1em;

            overflow: hidden;

	
			&.fh{
				width: 0.47em;
				margin-right: 0;
                .pull-left();
			}

			&.lh{
				width: 0.5em;
				text-indent: -0.44em;
				margin-left: 0;
                .pull-left();
			}

			&.active{
				color: #FFC107;
			}
		}
	}

	&.rating-set{
		.rating-stars{
			cursor: pointer;
            display: inline-block;
		}
	}


	a{
		font-size: 13px;
		position: relative;
		margin-left: 10px;
		padding-left: 10px;

		&:before {
			border-left: 1px solid @border-color-3;
			content: "";
			height: 19px;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

}


.tabs-responsive{

  .tab-container {
	float: none;
	padding: 0;
  }

	@media (max-width: @screen-sm-max) {
		.tabhead{
			border-bottom: 1px solid @grayblue;
			
		}

	}
}

.tab-review{
	.review-pagination-bar{
		margin: (@grid-gutter-width/2) 0;
		.clearfix;
		.right{
			float: right;
			.pager{
				float: left;
				margin: 0 (@grid-gutter-width/2);
			}

		}
	}


	.review-list{
		.list-unstyled;
		.review-entry{
			margin: (@grid-gutter-width/2) 0;
			border-bottom: 1px solid #dcdcdc;
			padding-bottom: 15px;
			.title{
				font-weight:bold;
			}
			.rating{font-size: 20px; margin: 0;
				.rating-stars{width: 145px;}
			}

			.content{
				margin-bottom: 10px;
			}

			.autor{
				
				color:@gray-light;

			}

			.date{
			
			}

		}
	}


	.write-review{
		display: none;
	}
}












#AddToCart-PickUpInStoreAction{
	.make-sm-column(6);
	.make-md-column(12);
	margin-top: 20px;
}
.AddToCart-PickUpInStoreAction {
    margin-top: @grid-gutter-width/2;
}

#AddToCart-AddToCartAction{
	.make-sm-column(6);
	.make-md-column(12);
	margin-top: 20px;
}
.secondary+.secondary .hidden-company{display: none !important;}


#reviewForm{
	.rating{
		margin: 10px 0;
		.rating-stars{
			margin: 0 5px 0 0;
			padding: 3px 0 1px;
			width: 180px;
			position: relative;
				font-size: 30px;

}
	}
}

.page-details-variants-select .qty-selector.input-group.js-qty-selector{margin-bottom: 10px;}