.language-en {
.link_ar{display:block !important;color: #fff;
 
    @media (max-width: @screen-sm-max){color:#121010;}
}
.link_en{display:none !important;}
}
.language-ar {
    .witharrow:before{    content: "\f060";}
    .personal_info b {
        min-width: 43px;
    }
.link_en{display:block  !important;color: #fff;
 
    @media (max-width: @screen-sm-max){color:#121010;}
}
.link_ar{display:none  !important;}
}


body.language-ar {    text-align: left;
    direction: ltr;
    font-family: 'Cairo', sans-serif;
    @media only screen and (max-width: @screen-sm-max) {
    .wsmenu > .wsmenu-list > li.langdev{
        a.text_lang,  a.link_ar,  a.link_en{display: inline-block !important;}
        a.link_en:before{
          content:'\f111';
          
        }
        a.link_ar:before{
          content:'\f192';
         
        }
      }
    }
    #colorbox{left: auto;}
    .product__facet .facet .facet__name .facet__arrow:before {
        content: "\e079";
      }
    .fa-chevron-right:before{    content: "\f053";}
.fa-chevron-left:before{    content: "\f054";}
.glyphicon-chevron-left:before {
    content: "\e080";
}
.glyphicon-chevron-right:before {
    content: "\e079";
}
    }