<%@ tag body-content="empty" trimDirectiveWhitespaces="true" %>
<%@ attribute name="styleClass" required="true" type="java.lang.String" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>

<spring:htmlEscape defaultHtmlEscape="true"/>
<spring:theme code="search.nav.selectRefinements.title" var="selectRefinementsHtml"/>

<a href="javasrctipt:;" title="<spring:theme code='search.nav.refine.button'/>" class="${fn:escapeXml(styleClass)}" data-select-refinements-title="${selectRefinementsHtml}">
    <i class="fas fa-filter"></i>
</a>
