//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb-section {
  background: none;
  .full-width-padding();
  padding: 0px 20px !important;
  background-color: #fff;
  @media (max-width: @screen-sm-max) {

    margin-top: 10px;
    margin: 10px -10px;
    padding: 0 10px;

  }

  .breadcrumb {
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0;
    background: none;
  }
}
