.checkout-login {
  .full-width-padding();

  .headline {
    .page-headline();
  }

  .btn.btn-block + .btn.btn-block {
    margin-top: (@grid-gutter-width/2);
  }
}

.checkout__new-account {
  text-align: center;
  background-color: @account-subheadline-bg;
  border-top: 1px solid @border-color-2;
  padding: @grid-gutter-width 0 55px;

  .accountActions-bottom {
    margin-top: 35px;
  }
}

.checkout__new-account__headling {
  font-size: 24px;
  font-weight: bold;
}

.checkout__new-account__form {
  text-align: left;
  margin-top: 25px;
}

@media (max-width: @screen-xs-max) {
  .checkout__new-account {
    .row();
    padding-left: @grid-gutter-width/2;
    padding-right: @grid-gutter-width/2;
  }
}


/////////////////////////////////
//      checkout headline      //
/////////////////////////////////
.checkout-headline {
  .page-headline();
  padding-left: 30px;
  color: #000 !important;

  @media (max-width: @screen-md) {
    padding-left: 20px;
  }

  @media (max-width: @screen-sm) {
    padding-left: 20px;
    padding-right: 20px;
  }

  span {
    color: @checkout-icon;
    margin-right: 5px;
    top: 2px;
  }
}

.checkout-summary-headline {
  .page-headline();
  padding-right: 30px;

  @media (max-width: @screen-md) {
    padding-right: 20px;
  }

  @media (max-width: @screen-sm) {
    padding-left: 20px;
    padding-right: 20px;
  }

  span {
    color: @checkout-icon;
    margin-right: 5px;
    top: 2px;
  }

  @media (max-width: @screen-xs-max) {
    padding-left: @grid-gutter-width/2;
    padding-right: @grid-gutter-width/2;
  }
}


/////////////////////////////////
//       checkout steps        //
/////////////////////////////////
@step-height: 49px;
.checkout-body-styling {
  padding: 30px @grid-gutter-width 15px;
  border: 1px solid @steps-border-active;
  border-top: 0;
  background: #fff;
}

.checkout-steps {
  padding-left: 25px;
  margin-left: 30px;
  border-left: 1px solid #cfcfcf;


  .step-head {
    background: @steps-background;
    color: @steps-color;
    border: 1px solid @border-color-3;
    font-size: @font-size-large;
    font-weight: 600;

    position: relative;
    display: block;
    width: 100%;
    padding: 12px @grid-gutter-width (@grid-gutter-width/2) 40px;
    height: @step-height;
    border-radius: 15px;

    @media (max-width: @screen-sm-max) {
      height: auto !important;
    }


    counter-increment: checkout;

    &:before {
      content: counter(checkout);
      position: absolute;
      text-align: center;
      width: 30px;
      height: 30px;
      background: red;
      left: -41px;
      border: 3px solid red;
      color: #fff;
      top: 8px;
      line-height: 23px;
      border-radius: 50%;
      font-weight: 900;
      font-size: 14px;
    }


    & + .step-head {
      margin-top: @grid-gutter-width/2;
    }

    &.active {
      background: @steps-background-active;
      color: @steps-color-active;
      border-color: @steps-border-active;
      border-radius: 15px 15px 0 0;
    }

    .title {
      vertical-align: middle;
      display: table-cell;
      width: 100%;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 16px;
    }

    .edit {
      color: @link-color;
      font-size: 20px;
      display: table-cell;
      vertical-align: top;
    }
  }

  .prevCurrent {

    &:before {

      content: '\2714';
      font-size: 24px;
      background-color: #0F9900;
      border-color: #0F9900;
    }

  }

  .nextCurrent {

    &:before {

      color: #000000;
      background-color: #ECECEC;
      border-color: #ECECEC;
    }

  }


  .step-body {
    .step-body-form {
      .checkout-body-styling();
      border-radius: 0 0 15px 15px;

      .radiobuttons_paymentselection {
        margin-bottom: 5px;
      }
    }

    .checkout-next {
      margin: 30px 0;
      max-width: 250px;
    }

    hr {
      margin: 0 -@grid-gutter-width;
      border-color: @steps-divider;
    }

    .checkout-indent {
      .headline {
        font-size: 18px;
        padding: 0;
        color: #555;
        font-weight: bold
      }
    }
  }
}

@media (max-width: @screen-md) {

  .checkout-steps {
    padding-left: @grid-gutter-width;
  }
}

@step-height-mobile: 68px;
@media (max-width: @screen-xs-max) {
  .checkout-steps {
    padding-left: @grid-gutter-width;
    padding-right: @grid-gutter-width;


  }
}


/////////////////////////////////
//     checkout shipping       //
/////////////////////////////////
.checkout-shipping {
  .checkout-body-styling();
  padding-top: 0;
  padding-bottom: @grid-gutter-width/2;
  border-radius: 0 0 15px 15px;

  .checkout-shipping-items {

    .checkout-shipping-items-header {
      font-size: 18px;
      text-transform: uppercase;
      padding: 25px 0 (@grid-gutter-width/2) 0;
      color: #555;
      font-weight: 700;


    }

    .qty {
      color: #757575;
      font-size: 16px;
    }

    > div {
      padding-bottom: 25px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    ul {
      .list-unstyled;
      margin: 0;

      li {
        padding-top: 6px;
        line-height: @font-size-large;

        &:first-child {
          padding-top: 1px
        }


      }
    }
  }

  ///////////////////////////////////////////////////////////////// deprecated
  .simplify-pickup-locations {
    background: @grayblue;
    padding: (@grid-gutter-width/2);

    .simplify-pickup-location-header {
      .clearfix;
      background: darken(@grayblue, 20%);
      padding: (@grid-gutter-width/2);
      line-height: 35px;

      margin: -(@grid-gutter-width/2) -(@grid-gutter-width/2) (@grid-gutter-width/2)  -(@grid-gutter-width/2);

    }


    ul {
      .list-unstyled;
      margin: 0;

      li + li {
        border-top: 1px solid darken(@grayblue, 20%);
      }

      a {
        color: @text-color;
        background: #fff;
        display: block;
        padding: (@grid-gutter-width/2);
        text-decoration: none;
      }
    }
  }

  //////////////////////////////////////////////////////////////////////// deprecated

}

@media (max-width: @screen-md-max) {
  .checkout-shipping {
    .checkout-shipping-items {
      .qty {
        text-align: right;
      }

      .checkout-pickup-items {
        padding-bottom: 0;
      }
    }
  }
}


/////////////////////////////////
//     checkout payment        //
/////////////////////////////////
.checkout-paymentmethod {
  .checkout-body-styling();
  padding-top: 0;

  .step-body & hr {
    margin-top: 25px;
  }
}


/////////////////////////////////
//     checkout modals         //
/////////////////////////////////
#addressbook, #savedpayments, #savedpaymentsbody {
  display: none;
  padding-bottom: 20px;

  #colorbox & {
    display: block;
  }

  ul {
    .list-unstyled;
    margin: 0;

    li {
      padding: (@grid-gutter-width/2) 0;
    }
  }

}


/////////////////////////////////
//      checkout summary      //
/////////////////////////////////
.checkout-order-summary {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 0;
  border: 1px solid #e4e4e4;
  border-radius: 15px;


  .checkout-order-summary-list {
    .list-unstyled;
    border-bottom: 1px solid @steps-divider;
    margin: 0;

    @media (min-width: @screen-sm-min) {
      &:first-of-type {
        .checkout-order-summary-list-heading {
          padding-top: @checkout-list-head-padding-first;
        }
      }

      .checkout-order-summary-list-heading {
        &:only-child {
          border-bottom: 0;
        }
      }
    }

    li {
      .clearfix();
      padding: @grid-gutter-width;

      &:nth-child(2n + 3) {
        background-color: @table-2n-line-bg;
      }
    }

    .checkout-order-summary-list-heading {
      padding: 0;
      text-transform: capitalize;

      > div {
        float: left;
      }

      .title {
        font-weight: 700;
        padding-right: 5px;
      }

      .address {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 85%;
      }
    }

    .thumb {
      float: left;
      margin-right: @grid-gutter-width;
      width: 65px;

      img {
        width: 100%;
        height: auto;
      }
    }

    .price {
      text-align: left !important;


    }

    .details {
      font-size: @font-size-base;
      margin-left: 85px;

      .name {
        a {
          font-weight: normal;
          font-size: 16px;
          color: #000;
        }
      }

      .qty span {
        font-size: 16px;
        color: #757575;

        text-transform: capitalize;
        padding-right: @grid-gutter-width/2;
      }
    }

    .updateQuantityProduct-toggle {
      float: right;
    }

    // maybe deprecated
    .stock-status {
      clear: both;
      padding: (@grid-gutter-width/2) 0;
      font-size: @font-size-small;
    }

    // maybe deprecated
  }

  @media (max-width: @screen-sm-max) {
    .checkout-order-summary-list {
      .checkout-order-summary-list-heading {
        .address {
          width: 100%;
        }
      }
    }
  }

  /////////////////////////////////
  //         order total         //
  /////////////////////////////////
  .subtotals {
    font-size: @font-size-large;
    margin-top: 30px;

    .subtotal,
    .shipping,
    .subtotals__item--state-discount,
    .tax,
    .totals {
      padding: 5px 0;

      span {
        float: right;
        font-weight: 600;
      }
    }

    .totals {
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 0;
      padding: (@grid-gutter-width/2) 0;
      @media (max-width: @screen-sm-max) {
        font-size: 17px;
      }

    }

    .realTotals {
      font-size: @font-size-base;
    }
  }

  .subtotals {

    font-size: 18px;
    color: #666666;

    span {
      color: #000;
    }
  }

  .totals {
    margin-top: 20px !important;
    color: #000;
  }
}

.subtotals__item--state-discount {
  color: @item-promo-color;
}

.label-spacing {
  padding-right: 5px;
  color: #757575;
  margin: 4px 0;
  display: inline-block;
}

@media (max-width: @screen-xs-max) {
  .place-order-form {
    padding: 0 @grid-gutter-width;
  }

  .checkout-order-summary {
    padding: 30px 20px 15px;
    border: 1px solid #7E99AA;
    border-top: 0;
    background: #fff;
    margin-left: 50px;
    margin-right: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    border-radius: 0 0 10px 10px;

    .checkout-order-summary-list {
      .list-unstyled;
      border: none;
      padding: 0;

      .checkout-order-summary-list-heading {
        background-color: transparent !important;
        color: @text-color;
        padding: 25px @grid-gutter-width;
        border-color: @steps-divider;

        .title {
          text-transform: uppercase;
          font-size: @font-size-large-1;
        }
      }

      .checkout-order-summary-list-items {
        border-bottom: 1px solid @steps-divider;
      }
    }

    .subtotals {
      padding: 0 @grid-gutter-width;
    }
  }
}


.checkout-review {
  .checkout-body-styling();
  border-radius: 0 0 15px 15px;
  background: #fff;

  .checkout-order-summary .subtotals {
    margin-top: 0;
  }
}

.place-order-form {
  .checkbox {
    margin: 25px 0 (@grid-gutter-width*2);

    label {
      font-size: @font-size-base;
      color: @text-color;
      text-transform: none;
    }
  }
}

// terms and conditions modal - close button
.btn-close-terms-and-conditions {
  margin: 30px 0;
}

@media (min-width: @screen-sm-min) {
  .place-order-form {
    .checkbox {
      margin-left: @grid-gutter-width;
      margin-right: @grid-gutter-width;
    }
  }
}


/////////////////////////////////
//        checkout help        //
/////////////////////////////////
.checkout-help {
  text-align: center;
  border: 1px solid @border-color-3;
  font-size: 15px;
  padding: (@grid-gutter-width/2);
  margin-top: @grid-gutter-width * 3;

  @media (max-width: @screen-xs-max) {
    margin-top: 30px;
    margin-left: @grid-gutter-width;
    margin-right: @grid-gutter-width;
  }
}

.checkout-success {

}

.checkout-success__body {
  margin: 30px 0 55px;
  text-align: center;
}

.checkout-success__body__headline {

  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;

  p {
    margin-top: 20px;
  }
}

// // maybe not used or coming from impex
// .checkout-success-body-register {
//   overflow: hidden;
//   margin: 20px 0 35px 0;
//   .login-section, .register-section {
//     margin: 0 auto;
//     float: none;
//     background-color: @grayblue;
//     padding: 15px;
//   }
//   .checkout-success-body-register-email {
//     display: inline-block;
//     margin-left: 5px;
//   }
//   form {
//     padding: 20px 0;
//     text-align: left;
//   }
// }


.termsAndConditions-section {
  padding-bottom: (@grid-gutter-width);
}


label.terms {
  margin: 15px 0;
}


fieldset#cardDate,
fieldset#startDate {
  & > .control-label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-group {
    .control-label {
      .sr-only;
    }
  }

}

.page-multiStepCheckoutSummaryPage {

  #colorbox.read-only-grid {
    #cboxLoadedContent {
      margin-top: 100px;
      padding: 0;

      @media (max-width: @screen-sm-max) {
        margin-top: 130px;
      }

      @media (max-width: @screen-xs-max) {
        margin-top: 170px;
      }
    }

    .grid-row {
      border-top: 1px solid @border-color-2;

      &:nth-child(2n+2) {
        background: @table-2n-line-bg;
      }
    }


    .grid-prod-info {
      display: inline-block;
    }

    td {
      padding: 10px 10px 15px;
      vertical-align: top;

      > span {
        display: block;
      }

      &.grid-prod-img {
        padding-left: @grid-gutter-width*2;
      }

      .grid-variant,
      .grid-size {
        font-weight: bold;
        min-width: 80px;
      }

      .grid-variant {
        display: block;
        font-size: 16px;
      }

      @media (max-width: @screen-xs-max) {
        padding: 10px 15px 15px;

        &:nth-child(2n+2) {
          background-color: transparent;
        }

        .grid-prod-info {
          display: block;
          text-align: left;

          span {
            display: inline-block;
          }

        }

        .grid-price {
          float: right;
        }

      }
    }
  }
}

#ui-datepicker-div {
  z-index: 20000 !important;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: none !important;
}

.btn-place-order {
  margin-top: 0 !important;
  width: 220px !important;
  margin-bottom: 0 !important;
}

#placeOrderForm1 {
  input[type="checkbox"] {
    margin-top: 8px !important;
  }
}

.account-orderdetail {
  .item__list--header {
    font-weight: bold !important;
  }

  .item__list--item {
    .item__info {
      a {
        color: #000;
        margin-bottom: 12px;
        display: inline-block;
      }

    }

    .item__code, .item__stock {
      color: #757575;
      font-size: 14px;

    }

    .item__price {
      font-weight: bold;
      @media (min-width: @screen-md-min) {
        text-align: center;
      }
    }


  }

}
