.timed-dialog-overlay {
  background-color: rgba(155, 155, 155, 0.8);
}


.timed-dialog {
  font-size: 16px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: auto !important;
  max-width: 85% !important;
  max-height: 100% !important;
  @media (max-width: @screen-sm-max) {
    left: 50% !important;
    top: 50px !important;
    transform: translate(-50%) !important;
  }

}

.timed-dialog * {
  font-size: 16px;
}

.timed-dialog .header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #000;
  padding: 20px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.timed-dialog .header .icon {
  display: none !important;
}

.timed-dialog .header .title {
  font-size: 18px;
  font-weight: bold;
  padding: 0 10px;
  text-transform: uppercase;
}

.timed-dialog .body {
  min-height: 100px;
  flex-direction: column;
}

.timed-dialog .action {
  flex-direction: row;

  .btn {
    position: relative;
    margin: 0 15px !important;
    min-width: 130px !important;

    @media (max-width: @screen-sm-max) {
      min-width: 100px !important;
    }
  }
}

.timed-dialog .action,
.timed-dialog .body {
  display: flex;
  background-color: #fff;
  padding: 20px;
}

.timed-dialog .action {
  justify-content: end;
}

.timed-dialog .btn.btn-close {
  display: flex;
  margin: 0;
  padding: 0;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: transparent;
  color: #000;
}


.timed-dialog .body {
  .subtitle {
    margin-bottom: 25px;
  }

  .legend {
    margin-bottom: (@grid-gutter-width/2);

    a {
      float: right;
    }
  }

  .mini-cart-list {
    .list-unstyled;
    padding-left: 0;
    list-style: none;

    li.mini-cart-item {
      display: flow-root;
    }

    li + li {
      margin-top: (@grid-gutter-width/2);
    }

    .mini-cart-item {
      //.clearfix;
      .thumb {
        float: left;
        margin-right: (@grid-gutter-width/2);

        img {
          max-width: 90px;
        }
      }

      .details {
        margin-left: 65px+(@grid-gutter-width/2);

        .name {
          font-weight: normal;
          color: inherit;
          margin-top: 11px;
          display: inline-block;

          max-width: 85%;
          overflow: hidden;

        }

        .qty {
          text-transform: capitalize;
        }
      }

      .price {
        text-align: right;
        font-weight: bold;
      }
    }
  }

  .mini-cart-totals {
    border: 1px solid @border-color-2;
    border-width: 1px 0;
    margin: (@grid-gutter-width/2) 0 (@grid-gutter-width + @grid-gutter-width/2);
    padding: (@grid-gutter-width/2);

    .key {
      float: left;
    }

    .value {
      text-align: right;
    }
  }

  .mini-cart-checkout-button {
    margin: (@grid-gutter-width/2) 0;
  }

  & img {
    width: 100%;
  }

}

.redColor {
  color: red;
  font-weight: bold;
}

.subtitleitems {
  margin: 10px 0;
  font-weight: 600;
  text-transform: capitalize;
}

.cartItemDiv {
  max-height: 170px;
  overflow: hidden;
  overflow-y: auto;
  @media (max-width: @screen-sm-max) {
    max-height: 140px;
  }
}
