@import "_navigation.less";

header {
  background: @header-background-color;
  margin-bottom: 0px;
  padding: 0;
  @media (max-width: @screen-sm-max) {padding: 10px 10px 0px; margin-bottom: 0px;}
  .page-cartPage &,
  .page-homepage &,
  .page-productGrid &,
  .page-searchGrid &,
  .page-search &,
  .page-cartPage &,
  .pageType-CategoryPage & {
	margin-bottom: 0;
  }
}

.cookie-alert--top {
  margin-bottom: 0;
}

#consent-management-alert {

  .consent-management-list {
    max-width: 100%;
    line-height: 1.6;
    padding: 0;
    margin: 0;
  }
  .consent-management-list__item {
    position: relative;
    margin-top: 0;
    margin-bottom: 3px;
    list-style-type: none;

    @media (max-width: @screen-sm-max) {
      border-left: 0 none;
      border-right: 0 none;
      margin-left: -20px;
      margin-right: -20px;
    }

  }
  .consent-management-list__title {
    padding: 0 15px 0 62px;
    display: block;
    position: relative;
    font-weight: 400;
    text-transform: uppercase;
    font-weight: bold;
  }
  .consent-management-list__title:before {
    font-family: 'Glyphicons Halflings', sans-serif;
    content: '\e114';
    font-size: 16px;
    position: absolute;
    left: 20px;
    top: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .consent-management-list__title:hover,
  .consent-management-list__title:focus {
    cursor: pointer;
    outline: none;
  }
  .is-expanded .consent-management-list__title:before {
    content: "\e113";
  }

  .consent-management-list__label {
    width: 85%;
    font-size: 15px;

    @media (max-width: @screen-sm-max) {
      width: 60%;
      font-size: 14px;
    }

  }

  .consent-management-list__content-inner {
    padding: 10px 40px 0 65px;
    font-size: 16px;

    @media (max-width: @screen-sm-max) {
      font-size: 14px;
    }

  }
  .consent-management-list__content {
    transition: height 0.3s ease-out;
    height: 0;
    overflow: hidden;
  }

  .consent-buttons-group {
    position: absolute;
    top: 10px;
    right: 20px;
    @media (max-width: @screen-xs-max) {
      right: 30px;
    }

    .btn {
      padding: 4px 38px;
      font-size: 13px;
      margin-left: 10px;

      @media (max-width: @screen-xs-max) {
        padding: 4px;
        font-size: 12px;
        margin-left: 0;
      }

    }
  }

}

.col-md-4.hidden-sm{
  .topnavlinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.js-accNavComponent.NAVcompONENT{

  position: absolute;
  z-index: 99992;
  min-width: 220px;
  top: 39px;
  right: 0;
  background: #fff;
  padding: 10px;
  border: 1px solid #fff;
  overflow: hidden;
  display:none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
  /* background: #FFFFFF 0% 0% no-repeat padding-box; */
  box-shadow: 0px 7px 14px #00000038;
  text-align: left;
  @media(max-width:@screen-sm-max){
    top: 33px;
    right: 0px;

  }

  a{
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;
    padding: 12px;
    display: block;
    font-size: 20px;
    line-height: 1.329em;
    color: #595A58;
    font-size:14px !important;
    padding-top: 6px !important;}



  nav.accNavComponent__child-wrap {


    div:first-child{    font-size: 20px;
      color: #595A58;
      margin-bottom: 11px;
      padding-left: 11px;
      margin-top: 15px;}
    div:last-child{a{color:#EE3524 !important;}}


  }





}


.taplogInreqister {
  display: none;
  position: absolute;
  width: 200px;
  background: #fff;
  padding: 15px;
  z-index: 1000;
  box-shadow: 0px 1px 3px 0px #808080;
  left: 0px;
  border-radius: 15px;
  top: 30px;

  li {
    display: block;
    padding: 10px;

    a {
      color: #000;
    }
  }
}
.registration:hover .taplogInreqister {
  display: inline;
}


.linkRegPage{

  margin-bottom: 15px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;

}
