.login-page__headline,
.user-register__headline{
	.page-headline();
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
}

.login-left-content-slot{
    margin-right: 10px;
  	margin-left: 30px;

  	@media (max-width: @screen-sm-max) {
      margin-left: 20px;
      margin-right: 20px;
  	}
}

.login-right-content-slot{
    margin-right: 30px;
  	margin-left: 10px;

  	@media (max-width: @screen-sm-max) {
      margin-left: 20px;
      margin-right: 20px;
  	}
}

.forgotten-password{
	form & {
    margin-bottom: 25px;
  }

  &.alert {
    padding-left: 0;
    padding-right: 0;
  }

	.description{
      margin-bottom: (@grid-gutter-width/2);
	}

  #colorbox & .btn-primary {
    margin-top: 35px;
  }
}

.register-form-action, .login-form-action {
  margin-top: 35px;
}

.forgotten-password + .login-form-action {
  margin-top: 0;
}

.alert-dismissable,
.alert-dismissible  {
  .close {
	right: 0;
  }
}

.register__container {
  .full-width-padding();
}

@media (max-width: @screen-xs-max) {
	.login-form-action {
		.btn-default {
          margin-top: @grid-gutter-width * 1.5;
		}
	}
}

@media (max-width: @screen-xs-max) {
	.login-section,
  	.register-section {

		.forgotten-password {
          margin-bottom: 45px;
		}
	}
}

.page-login,.page-register{
  label{
    display: none;
  }
  .checkbox{
    label{
      display: block;
    }
  }

}