//
// Pagination (multiple pages)
// --------------------------------------------------


.pagination-wrap {
  float: right;
  text-align: right;
}

.pagination {

  margin: 0;

  > li {
    vertical-align: top;
    display: inline-block;

    > a,
    > span {
      position: static;
      border: none;
      margin: 0;
      float: none;
      display: inline-block;
    }

    &.pagination-prev,
    &.pagination-next {
      > a, > span {
        font-size: 11px;

        &:hover,
        &:focus {
          background-color: @pagination-prev-next-hover-bg;
          color: @pagination-prev-next-hover-color;
        }
      }

      &.disabled {
        > a, > span {
          &:hover,
          &:focus {
            color: @pagination-disabled-color;
            background-color: transparent;
            border-color: @pagination-border;
          }
        }
      }
    }

    &.pagination-prev {
      text-align: left;

      > a, > span {


      }
    }

    &.pagination-next {
      text-align: right;

      > a, > span {

      }
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      color: #FFFFFF;
      background-color: #1a457c;
      border: none;
      font-weight: @pagination-active-font-weight;
    }
  }

  .pagination-size(@pagination-height-base; @pagination-width-base; @pagination-font-size; @grid-gutter-width/4);
}

@media (max-width: @screen-sm-max) {
  @button-height: floor((@padding-large-vertical * 2) + (@btn-font-size * @btn-line-height) + (@btn-border-width * 2));
  .pagination {
    .pagination-size((@button-height - (@pagination-border-width * 2)); @pagination-width-base; @pagination-font-size; @grid-gutter-width/2);
  }
}

@media (max-width: @screen-xs-max) {
  .pagination {
    display: table;
    width: 100%;

    > li {
      display: table-cell;
      vertical-align: middle;
      text-align: center;

      > a,
      > span {
        float: none;
      }
    }

    .pagination-size(@pagination-height-large; @pagination-width-large; @pagination-font-size; @grid-gutter-width);
  }

  .pagination-with-pager .pagination-wrap {
    float: none;
  }
}


// Pagination size
.pagination-size(@pagination-height; @pagination-width; @font-size; @next-prev-offset) {
  > li {
    > a,
    > span {
      line-height: 34px;

      padding: 0;
      font-size: 14px;
      text-align: center;
      border-radius: 10px;
      border: 1px solid #eee;
      background: #f3f3f3;
      color: #000;
      margin:0 2px;
      width: 39px;
    }

    &.pagination-prev {
      > a,
      > span {
        margin-right: 10px;


      }
    }

    &.pagination-next {
      > a,
      > span {
        margin-left: 10px;
      }
    }
  }
}

.pagination-topin{

  .form-group{display: flex;align-items: center;
    @media(max-width: @screen-sm-max){
      justify-content: center;
    }

    label{color:#000;font-weight: 700;font-size: 15px}

    .bootstrap-select{min-width: 220px}
  }
}

.cart-voucher__label{display: none !important;}
