.pageType-CategoryPage .map {
	img {
	  min-width: 100%;
	}
}

.searchEmptyPageMiddle-component {
  .full-width-padding();
}

.product__list--wrapper {
  @media (min-width: @screen-md-min) {
	padding: 0;
  }

  .pagination-wrap {
	@media (min-width: @screen-sm) {
	  padding-right: 0;
	}
  }
}

.searchSpellingSuggestionPrompt {
  padding-left: 20px;
  padding-right: 20px;
}

.pagination-bar {
  @media (max-width: @screen-sm) {
	.sort-refine-bar {
	  button {
		padding-left: 20px;
		padding-right: 20px;
	  }
	}
  }
}

.results {
  h1 {
    .page-headline();
    margin-top: @grid-gutter-width;
    padding-left: @grid-gutter-width;
    padding-bottom: 0;
  }
}

.product__listing {
  .list-unstyled;

	.product__listing--promo {

	  .text-success;
	  margin-bottom: (@grid-gutter-width/2);

	  @media (min-width: @screen-md) {
		padding-right: 20px;
		margin: 0 -10px;
	  }
	}

	.product__list--price-panel {
	  text-align: right;
	}

	.product__list--name {
	  display: block;
	  text-transform: uppercase;
	  font-weight: bold;
	  margin: 0 0 (@grid-gutter-width/2) 106px;
	  color: inherit;
	}

	.product__listing--description {
	  .hidden-xs;
	  margin: 0 210px 0 106px;
	}

	.addtocart {
	  clear: both;
	  text-align: center;
	  padding: (@grid-gutter-width/2) 0 0 0;

	  button {
		margin-bottom: (@grid-gutter-width/4);
	  }

	  @media (min-width: @screen-md-min) {


		.pickup-in-store-available {
		  .ProductGridComponent-ListPickUpInStoreAction,
		  .ProductGridComponent-ListAddToCartAction,
		  .SearchResultsList-ListPickUpInStoreAction,
		  .SearchResultsList-ListAddToCartAction,
		  .SearchResultsGrid-ListPickUpInStoreAction,
		  .SearchResultsGrid-ListAddToCartAction {
			width: 49%;
			float: left;
		  }
		  .ProductGridComponent-ListAddToCartAction {
		  	position: relative;
		  	right: 1%;
		  	float: right;
		  }
		  .ProductGridComponent-ListPickUpInStoreAction {
		  	position: relative;
		  	left: 1%;
		  }
		  @media (min-width: @screen-lg-min) {
		  	.ProductGridComponent-ListAddToCartAction,
		  	.ProductGridComponent-ListPickUpInStoreAction {
		  		width: calc(~'49% - 4px');
		  	}
		  }
		}
	  }

	  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

		.pickup-in-store-available {
		  margin: 0 -(@grid-gutter-width/5);

		  .ProductGridComponent-ListPickUpInStoreAction,
		  .ProductGridComponent-ListAddToCartAction,
		  .SearchResultsList-ListPickUpInStoreAction,
		  .SearchResultsList-ListAddToCartAction,
		  .SearchResultsGrid-ListPickUpInStoreAction,
		  .SearchResultsGrid-ListAddToCartAction {
			padding: 0 (@grid-gutter-width/6);
		  }

		}
	  }
	}

	&.product__list .product__list--item,
	&.product__grid .product-item {
		&.tag-highlighted {
			position: relative;

			&:before {
				content: "";
				z-index: -1;
				position: absolute;
				border: 2px solid @brand-primary;
				top: 14px;
				left: 12px;
				right: 12px;
				bottom: 14px;
			}
			&:after {
				&:extend(.glyphicon);
				content: "\e006";
				top: 18px;
				left: 16px;
				color: @brand-primary;
				width: 24px;
				line-height: 22px;
				height: 24px;
				font-size: 18px;
				padding: 0;
				text-align: center;
				position: absolute;
			}
		}
	}


	&.product__list {
	  .product__list--item {
		padding: @grid-gutter-width 30px;
		border-top: 1px solid @border-color;

		&:nth-of-type(2n) {
		  background-color: @table-2n-line-bg;
		}

			@media (max-width: @screen-md) {
			  padding-left: 20px;
			  padding-right: 20px;
			}
			&.tag-highlighted {
				&:before {
					left: 0;
					right: 0;
					top: 1px;
					bottom: 0;
				}
				&:after {
					font-size: 16px;
					top: 8px;
					left: 7px;
				}
				&:first-child {
					&:before {
						top: 0;
					}
				}
				&:nth-of-type(2n) {
					background: transparent;

					&:before {
						top: 1px;
						background-color: @table-2n-line-bg;
					}
				}
			}
	  }

	  .product__list--thumb {
		float: left;
		margin-right: (@grid-gutter-width/2);
		display: block;
		  &> img {
			  width: 96px;
		  }
	  }

	  .product__list--price-panel {
		float: right;
		width: 200px;
	  }

	  .ProductListComponent-ListPickUpInStoreAction,
	  .ProductListComponent-ListAddToCartAction,
	  .SearchResultsList-ListPickUpInStoreAction,
	  .SearchResultsList-ListAddToCartAction {
		.make-xs-column(6);
		.make-sm-column(4);
		.make-sm-column-push(4);
	  }

	  .ProductListComponent-ListOrderFormAction,
	  .SearchResultsList-ListOrderFormAction {
		.make-xs-column(6);
		.make-xs-column-push(6);
		.make-sm-column(4);
		.make-sm-column-push(0);
	  }

	  @media (max-width: @screen-xs-max) {
		.product__list--price-panel {
		  text-align: left;
		  float: none;
		  margin-left: 106px;
		  width: auto;
		}
	  }
	}

	&.product__grid {
	  .flex-display(flex);
	  .flex-wrap(wrap);

	  .product-item {
		.make-xs-column(6);
		.make-sm-column(4);
		.make-md-column(4);
		.make-lg-column(3);

		padding: 0 5px 10px;
		.flex-display(flex);
		.flex-direction(column);

		// fix for Safari
		
			&.tag-highlighted {
				position: relative;
			}
	  }

	  .thumb {
		display: block;
		margin-bottom: (@grid-gutter-width/2);
		text-align: center;
		overflow: hidden;

		img {
		  width: 100%;
		  height: auto;
		  max-width: 140px;
		}

	  }

	  .details {
		text-align: center;
		margin: 0 auto;
		width : 100%;
  		overflow:hidden;
  		display:inline-block;
		.flex(1 0 auto);

		.name {
			margin: 0;
			font-weight: 400;
			font-size: 13px;
			padding-bottom: 10px;
			height: 75px;
			margin-bottom: 5px;
			color: #3c3c3c;
			display: block;
			padding: 0;
		}

		.price {
		  font-size: 18px;
		  font-weight: 600;
		  color: #000;
		}

		.promo {
		  color: @item-promo-color;
		  font-size: 14px;
		  font-weight: bold;
		}
	  }

	  // Clearfixes
	  @media (min-width: @screen-sm-min) {
		.product-item:nth-child(4n+1) {
		  clear: both;
		}
	  }

	  @media (max-width: @screen-xs-max) {
		.product-item:nth-child(2n+1) {
		  clear: both;
		}
	  }
	}
  }



.search-empty {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;

  .headline {
	margin-bottom: 20px;
  }


  .search-suggestions {
	margin-bottom: 20px;
  }
}





//Product Category Page styling

.product-category-page{
    .product-categories{
        .refine-bar{
            padding-bottom:(@grid-gutter-width/2);
            padding-top:(@grid-gutter-width/2);
        }
      	.pcp-prod,
      	.pcp-banner{
          	padding-left: 0;
          	padding-right: 0;
      	}

        .pcp-banner .simple-responsive-banner-component,
		.pcp-banner .banner__component--responsive {
            margin-right: -20px;
        }

      	.pcp-banner{
          	padding-top:(@grid-gutter-width/2);
      	}
    }
}

@media (min-width: @screen-md) {
		.search-list-page-right-result-list-slot{
				margin-left: -20px;
				margin-top: -20px;
		}

		.search-list-page-right-result-list-component{
				padding-left: 20px;
		}

		.product-list-right-slot{
				margin-left: -20px;
		}

		.product-list-right-component{
				margin-left: 0;
				padding-top: 20px;
		}

		.product-list-right-component .pagination-bar{
				margin-top: 0;
		}
}

.search-results-highlight {
	font-weight: bold;
}
.containerloder{  width: 100%;
	text-align: center;
	
svg{
	width: 100px;
	height: 100px;
	margin: 20px;
	display:inline-block;
  }
}