.plpPadd{
	padding:10px 50px;


	@media(max-width:@screen-md-max){
		padding:10px 20px;

	}
	@media(max-width:@screen-sm-max){
		padding:10px 10px;

	}
}


.product__facet {
	margin: 0;
	padding: 0;
	margin-right:30px;

}

.product__facet .facet {
	padding: 20px 14px;
	.clearfix;
	margin-bottom:20px;

	border:1px solid #D9D9D9;
	border-radius:10px;

	&:last-child {
		margin: 0;
	}

	.facet__name {
		font-size: 16px;
		font-weight: bold;
		color: #000;
		margin-left: -5px;
		cursor: pointer;

		a{
			color: #000;
		}
	}

	.facet__list {
		.list-unstyled;
		margin:  (@grid-gutter-width/2) 0;

		li{
			padding: (@grid-gutter-width/2) 0;
		}

		label{
			cursor: pointer;
			font-weight: normal;
			display: block;
			margin: 0;
			position: relative;
		}
		span.facet__list__label {

		}
		.facet__list__mark {
			display: inline-block;
			width: 20px;
			height: 20px;
			padding: 0;
			margin-right:  (@grid-gutter-width/2);
			border: 1px solid @input-border-color;
			text-align: center;
			vertical-align: middle;
			background: @input-background;
			margin-top: 0px;
			float: left;
		}

		.facet__list__checkbox:checked + .facet__list__label {

			.facet__list__mark {
				background: @link-color;
				border:1px solid @link-color;
				.box-shadow(~"inset 0 0  0 1px @check-box-bg");
			}

			.facet__list__text {
				color: #6D6E70;
				font-size: 14px;
				max-width: 85%;
			}

		}

		.facet__list__checkbox:focus + .facet__list__label {
			.facet__list__mark {
				border:1px solid @brand-primary;
				.box-shadow(~"inset 0 0  0 1px @check-box-bg");
			}
		}

		.facet__list__text {
			line-height: 20px;
			color: #6D6E70;
			font-size: 14px;

			display: grid;
		}

	}

	.facet__list.facet__list--hidden {
		display: none;
	}

	.facet__values__more {
		display: block;
		text-align:center;
	}

	.facet__values__less {

	}


	.facet__form {
		padding-top: 10px;

		.input-group {
			background-color: @input-background;
			min-height: 32px;
			border: 1px solid @input-border-color;

			.form-control {
				border: 0 none;
				height: 32px;
				box-shadow: none;
			}

			.btn {
				width: 40px;
				height: 32px;
				line-height: 32px;
				padding: 0;

				.glyphicon-search {
					color: @searchbar-icon-color;
					font-size: 17px;
					top: 0;
				}
			}
		}

		.line-text {
			margin: @grid-gutter-width 0;
		}

	}

	.facet__form__hidden {
		display: none;
	}

	.facet__results__hidden {
		display: none;
	}
}

@media (max-width: @screen-sm-max) {
	.product__facet {
		padding: (@grid-gutter-width/2);
		margin: 0;
		border: 0 none;

		#colorbox &{
			display: block !important;
		}

		.facet {

			.facet__name {

				text-transform: uppercase;
				position: relative;
				font-weight: 700;
				.facet__arrow {
					font-size: 12px;
					position: absolute;
					top: 17px;
					left: (@grid-gutter-width * 1.5);

					&:before {
						content: "\e080";
					}
				}
			}

			.facet__values {

			}
		}

		.facet.active {

			.facet__arrow {
				&:before {
					content: "\e114";
				}
			}

			.facet__values{
				display: block;
			}

		}
	}
}

.facet__text{

	font-size: 14px;

	a{color: #6D6E70;

	}

}

.facet__value__count{


	float: right;
	background: #7E99AA;
	min-width: 23px;
	color: #fff;
	text-align: center;
	height: 20px;
	font-size: 12px;
	padding: 0 3px;
	position:absolute;
	right: 0;

}



.product-grid-right-result-slot,.page-search{




	.pagination-bar.bottom{
		display:none;
	}




}




.page-productGrid,.page-search{
	.pagination-bar-results{
		display:none;}
	.clickarrowFilter{
		color: #000000;
		float: right;
	}

	.pagination-bar.top{

		margin:0;
		.pagination-toolbar{
			padding: 0;
			border: none;


			.sort-refine-bar{

				.rowFilter{

					.form-group {
						@media(max-width:@screen-sm-max){
							margin: 0;
							display: flex;
							align-items: center;
						}
					}

					@media(min-width:@screen-md-min){
						display: flex;
						align-items: center;
					}
					margin: 20px 0;
					.CategoryHeadline{


						font-size: 16px;
						font-weight: bold;
						color: #000;
						margin-bottom: 11px;

					}


					.ProductNumberFound{
						color: #848484;
						font-size: 14px;
						@media(max-width:@screen-sm-max){
							margin-bottom:20px;
						}
					}




					.pagSection{   @media(min-width:@screen-md-min){ text-align: right;
						margin-top: -26px;}

					}
					label{
						display:inline-block;
						color:#000000;
						font-size:13px;
						font-weight: 500;

						@media(max-width:@screen-sm-max){font-size:12px;
							min-width: 70px;
							margin: 0;    text-align: right;
						}


					}
					#sortForm1{
						display: inline-block;
						min-width: 275px;padding-left: 10px;
						@media(max-width:@screen-sm-max){
							min-width: auto;padding-left: 0px;
							width: 100%;
							padding-left: 10px;
							.form-control{height: auto;
							}

							height: auto;
							.btn-select{
								font-size:12px !important;    width: 100%;
							}
						}
					}
					.bootstrap-select{

						.btn-select{padding-left:20px;
							margin-top:0px !important;    border-radius: 10px !important;
							border: 1px solid #EEEEEE;}

					}


				}
			}




		}




	}





}

ul.facet__list{
	display:none
}
.fecet-applied{
	display: inline-block;
	padding: 8px !important;
	margin-right: 10px;
	background: #595a58;
	/* border-radius: 18px; */
	margin-top: 10px;
	color: #fff;


	a{
		color: #fff;
		padding-left: 7px;
	}
}



.sort-refine-bar {
	.js-show-facets{
		background: transparent;
		border: none;
		box-shadow: none;
		margin:0;

	}

}

.padColmobile{
	@media(max-width:@screen-xs-max){
		padding:0 !important;
	}
}

.page-search{
	.results{        font-size: 18px;
		font-weight: bold;
		color: #000;

		@media(max-width:@screen-xs-max){  font-size: 16px;
			width: 100%;
			text-align: center;
			display: inline-block;
		}

	}

	.plpTitle{
		display:none !important;}


}

.js-shop-stores-facet{
	.facet__list.js-facet-list{
		display:block !important;
	}
	.facet__search__results{
		text-align: center;
		font-weight: 600;
		margin-top: 10px;

	}



}
