 
  .y-toolbar-inner.z-div table table tr{width:100%;}
  .y-toolbar-inner.z-div table table td{width:auto !important; float:left !important;}
.oms-widget-reallocationconsignment-list {
    overflow-y: auto !important;
}
